[2019-10-01 05:35] byliuyang opened #192 "Repeatedly request sign in"
The sign in dialog shows up repeatedly when trying to create a short link. This happens when user's Github email is empty.

<img width="762" alt="Screen Shot 2019-09-30 at 10 33 19 PM" src="https://user-images.githubusercontent.com/3537801/65936706-59c17a00-e3d2-11e9-8c63-7a81fa333bbc.png">

[2019-10-01 05:40] byliuyang opened #193 "Add React component to show all short links created by the user"
Currently, users can't see all the short links they created.

<img width="1299" alt="Screen Shot 2019-09-30 at 10 37 51 PM" src="https://user-images.githubusercontent.com/3537801/65936901-f84ddb00-e3d2-11e9-93b3-aca552a69a67.png">

Add React component with dummy data to show all the linked created by the user after he, she or they signed in.

[2019-10-01 06:31] byliuyang opened #194 "Configure staging environment"
Currently, the changes will be deployed onto production server after merging pull request to production branch. Ideally, the PR should be deployed to pre-production environment after merging to master branch so that the developer can preview & verify the changes.

[2019-10-06 05:59] byliuyang opened #195 "Log URL redirections"
Currently, there is no log user requests to track service usage statistics.

As a data analyst, I want to log all the url redirect requests, with city code and timestamp, in order to understand which city those redirections are coming from and how many redirection the service has to process every hour.

[2019-10-06 15:17] shade34321 commented on #193
I'd like to try this if this is still available but I'll probably have lots of questions.

[2019-10-06 16:31] byliuyang commented on #193
@shade34321 Sounds good. Please feel free to ask question or suggest refactor.

[2019-10-06 16:32] byliuyang opened #196 "Create offline key generation service"
https://github.com/byliuyang/kgs/projects/1

[2019-10-06 16:32] byliuyang opened #197 "Improve test coverage"
Currently, code coverage is only 55%. We want to add more unit tests to the backend APIs to improve developer confidence. Refactor may be needed to improve the testability of the code. Let's do it incrementally.

## Success criteria
Increase code coverage for `app/usecase/url` package to 100%.

[2019-10-06 16:39] byliuyang opened #198 "Integrate Redis to cache queries"

[2019-10-06 16:39] byliuyang opened #199 "Create tracing service"

[2019-10-06 17:59] byliuyang opened #200 "Add GraphQL API to show aliases created by the current user"
Currently, users can't see all the short links they created.

<img width="1299" alt="Screen Shot 2019-09-30 at 10 37 51 PM" src="https://user-images.githubusercontent.com/3537801/65936901-f84ddb00-e3d2-11e9-93b3-aca552a69a67.png">

Add GraphQL API to show all the linked created by the user after he, she or they signed in.

[2019-10-06 18:16] byliuyang opened #201 "Add HTTP API to support sign in with Google account"
Currently, users can only sign in through with their Github account. Some of the users may not use Github. Adding Google sign in option makes Short more accessible.

[2019-10-06 18:19] byliuyang opened #202 "Add Sign In with Google React component"
![image](https://user-images.githubusercontent.com/3537801/66273703-141a0c80-e82b-11e9-89d3-589806b2aaa6.png)

[2019-10-06 18:37] RonaldoDev commented on #202
Could I get this issue?

[2019-10-06 18:45] byliuyang commented on #202
Sure!

[2019-10-06 21:45] obukhov commented on #200
Can I take this?

[2019-10-06 23:11] byliuyang commented on #200
@obukhov Surely!

[2019-10-07 02:13] dawntomm commented on #201
I'll take over this one

[2019-10-07 07:29] dedifferentiator opened #203 "Add comment to exported functions, structs, and variables"
Code is not documented at all, so that should be fixed.

**Criteria of success:** [golint=100%](https://goreportcard.com/report/github.com/byliuyang/short#golint)

[2019-10-07 10:24] deschantkn commented on #202
I would like to pick up this task!

[2019-10-07 10:49] lawaloy commented on #192
I will like to work on this issue

[2019-10-07 13:56] KamalashreeNagaraj commented on #197
I would like to give this a try. Would any increase in code coverage be welcome? Or it has to cross 80%?

[2019-10-07 14:09] dedifferentiator commented on #197
@KamalashreeNagaraj forgot to mark that I'm already working on coverage of _app/adapter/graphql/resolver_ directory, but I believe there are many other parts to cover, so it's not a problem at all

[2019-10-07 14:14] KamalashreeNagaraj commented on #197
Sure. Will work on another package.
Also, I see utility files like `app/adapter/graphql/parser/time.go`. Do you need tests for these or you're ignoring them from coverage?

[2019-10-07 14:24] byliuyang commented on #203
@dedifferentiator I am so sorry. Let's do it together!

[2019-10-07 14:26] byliuyang commented on #202
@deschantkn Thank you so much!

[2019-10-07 14:31] KamalashreeNagaraj commented on #197
I would like to work on `app/usecase/url`. Is that okay?

[2019-10-07 14:33] byliuyang commented on #197
@KamalashreeNagaraj  We want to cover all exported functionalities eventually in all go packages. Let's do it incrementally. Does 65% to 70% for this pull request sounds good to you? Please refactor existing code to make them testable when needed.

@dedifferentiator @KamalashreeNagaraj  I am sorry for the tech debts. I was in rush when adding some features to get started. Every feature should have

[2019-10-07 14:36] byliuyang opened #204 "Configure Drone CI to run DB integration tests"
Currently, there are only unit tests running on the CI. There is no integration tests covering the GraphQL and RESTful. To avoid breaking critical features in the future, we want to add integration tests to automatically verify those feature are not breaking when merging to master branch.

## Success criteria
Integration tests are running for the branches that have pull requests opened for.

[2019-10-07 14:41] byliuyang commented on #192
@lawaloy Thank you!

[2019-10-07 14:52] byliuyang commented on #197
@KamalashreeNagaraj Surely.

[2019-10-07 15:03] dedifferentiator commented on #197
@byliuyang wouldn't it be better to use pointer to URL in receiver arg? Same question towards other methods in this file.

https://github.com/byliuyang/short/blob/0b24c39adffd8bd06106921bf85f7c811fb34ede/app/adapter/graphql/resolver/url.go#L12-L14

[2019-10-07 15:09] dedifferentiator commented on #203
@byliuyang I'd like to, but I'm unfamiliar with many services you use like graphql or react (yes, such people exist) even if I would like to learn them. I don't want to write docs for those areas I'm not good in, but I'll try do my best to document what I understood :)

[2019-10-07 15:11] deschantkn commented on #202
Do you want a separate component to handle google sign in? Or can I add the code for that in `SignIn.tsx`?

[2019-10-07 15:22] byliuyang commented on #203
@dedifferentiator Can we split the work into two issue so that I can comment services, like GraphQL and React asynchronously?

[2019-10-07 15:25] byliuyang commented on #202
@deschantkn Please extract out code specific to Github Sign In from this component and created individual components for Github & Google sign that reuses the generic sign in button.

[2019-10-07 15:42] byliuyang commented on #197
@dedifferentiator In term of semantics, I remember the consultant taught during a training, pointer receiver means that we are mutation the field. It doesn't seem that we are mutating any thing in this function.

Can't find the evidence in [Advanced Ultimate Go Training repo](https://github.com/ardanlabs/gotraining/blob/master/topics/courses/go/README.md). Please let me know if you disagree.

[2019-10-07 15:47] dedifferentiator commented on #203
@byliuyang Could you start documenting from functions in main.go so I could imagine what's going on, then I'll see whether I can do anything useful or not.

[2019-10-07 15:51] byliuyang opened #205 "Add query parameter to automatically fill in long URL."
## Scenario
After the user clicks the icon of the [Chrome Extension](https://github.com/byliuyang/short-ext)
<img width="226" alt="Screen Shot 2019-10-07 at 8 47 10 AM" src="https://user-images.githubusercontent.com/3537801/66327086-1342b280-e8df-11e9-8cae-90e6bed541da.png">
 , the extension will grab the URL of the current page and redirect the user to the app’s home page with `&long_link=http://

[2019-10-07 15:52] byliuyang commented on #203
@dedifferentiator Surely.

[2019-10-07 16:05] dedifferentiator commented on #197
@byliuyang as far as I know you have to pass pointer to an object if you want to modify (mutate) that object or constantly get actual value of it, but not necessarily in that function, for instance you want to pass this value somewhere further. I would agree if you wouldn't return pointer to a string, because in that case there's no practical benefit from it. I mean you return pointer to the copie

[2019-10-07 16:07] dedifferentiator commented on #197
Also I will experience some difficulties with testing in that case, because I am unable to predict what pointer I will receive

[2019-10-07 16:11] byliuyang commented on #197
GraphQL forced me to return pointer if I want to make this field optional 😭

[2019-10-07 16:16] dedifferentiator commented on #197
@byliuyang a-ha, that explains a lot, but we have one of two: pass pointer into method or leave the methods untestable

[2019-10-07 16:32] byliuyang commented on #197
I am trying to understand why passing value will make this function untestable.

[2019-10-07 16:47] dedifferentiator commented on #197
@byliuyang
[code]
Of course I can dereference pointer, but it won't be a fair test, in my opinion.
Although after I said it it doesn't sound so persuasively.

[2019-10-07 16:49] dedifferentiator commented on #197
By the way, could you give me a tip how to create fake objects for testing like Mutation, Resolver, honestly I cannot find a good way how to create them :(

[2019-10-07 16:53] byliuyang commented on #197
I prefer having unit tests for all business logics but add integration tests for API endpoints instead. What are your thoughts?

[2019-10-07 17:01] dedifferentiator commented on #197
@byliuyang great option I think

[2019-10-07 17:09] richardbertozzo commented on #203
Hi @dedifferentiator @byliuyang , can i help this one? Has some specific module that is done?

[2019-10-07 18:35] fallion commented on #204
Are you using private or cloud Drone?

[2019-10-07 18:53] byliuyang commented on #203
Hi @richardbertozzo , I’ll review the code and split the work after I got home today!

[2019-10-07 20:26] richardbertozzo commented on #203
Alright, i created a PR, with comments in `dep` package. I'll try make in the others packages also.

[2019-10-08 03:13] KamalashreeNagaraj commented on #197
Also, I see that code coverage stage can be run only on master. I feel it would be better to allow this on branches too.

[2019-10-08 06:51] byliuyang commented on #197
@KamalashreeNagaraj You can run the following command to obtain the coverage:
[code]
 I'll add it to the README file.

[2019-10-08 06:53] byliuyang commented on #204
@fallion It's running on DigitalOcean virtual private server. I can grant you admin for testing purpose.

[2019-10-08 07:12] byliuyang opened #210 "Add sample Github OAuth configuration to README"
The current README did not mention how to properly setup Github OAuth in order for new developers to test their new features locally.

## Success criteria
A new developer should be able to setup Github OAuth for local testing with no effort.

[2019-10-08 07:13] byliuyang opened #211 "Add sample ReCAPTCHA configuration to README"
The current README did not mention how to properly setup ReCAPTCHA in order for new developers to test their new features locally.

## Success criteria
A new developer should be able to setup ReCAPTCHA for local testing with no effort.

[2019-10-08 09:50] deschantkn commented on #202
Hello @byliuyang. I have a raised a PR https://github.com/byliuyang/short/pull/212. This is a work in progress, I want your feedback to make sure I am on the right track.

[2019-10-08 13:34] bigfpanda commented on #210
Could I take up this issue?

[2019-10-08 16:03] byliuyang commented on #205
@rohanrk Surely!

[2019-10-08 17:55] bigfpanda opened #214 "Error when build the container using docker-compose"
From the README:

When I want to build the container using `docker-compose up`. It returns this following error
[code]

So I ended up added `DOCKERHUB_USERNAME` variable explicitly when running `docker-compose up` and it sucessfully builds, for instance
[code]

Is this intended?

[2019-10-08 19:30] byliuyang commented on #214
@bigfpanda I think it is due to outdated README. Could you please open a pull request to fix the README? Thanks!

[2019-10-08 19:56] bigfpanda commented on #214
Sure, I'll work on it

[2019-10-09 01:22] shade34321 commented on #211
Hey, while I was setting up the environment I wasn't sure what to put for these so I took a best guess but I'll put up a PR shortly if you don't mind verifying them for me. Thanks!

[2019-10-09 04:03] byliuyang opened #216 "Test ticket from Code Climate"

[2019-10-09 04:11] #216 closed

[2019-10-09 08:16] #210 closed

[2019-10-09 08:21] byliuyang commented on #203
@richardbertozzo @dedifferentiator I integrated code climate to help ensure comments are added.

[2019-10-09 16:17] #214 closed

[2019-10-10 07:52] byliuyang commented on #192
@lawaloy Please join this Slack channel to discuss bugs, dev environment setup, tooling, and coding best practices.

[2019-10-10 07:53] byliuyang commented on #193
@shade34321 Please join this [Slack channel](https://s.time4hacks.com/r/short-slack) to discuss bugs, dev environment setup, tooling, and coding best practices.

[2019-10-10 07:53] byliuyang commented on #197
@dedifferentiator @KamalashreeNagaraj Please join this [Slack channel](https://s.time4hacks.com/r/short-slack) to discuss bugs, dev environment setup, tooling, and coding best practices.

[2019-10-10 07:53] byliuyang commented on #200
@obukhov Please join this [Slack channel](https://s.time4hacks.com/r/short-slack) to discuss bugs, dev environment setup, tooling, and coding best practices.

[2019-10-10 07:54] byliuyang commented on #201
@dawntomm Please join this [Slack channel](https://s.time4hacks.com/r/short-slack) to discuss bugs, dev environment setup, tooling, and coding best practices.

[2019-10-10 07:54] byliuyang commented on #202
@deschantkn  Please join this [Slack channel](https://s.time4hacks.com/r/short-slack) to discuss bugs, dev environment setup, tooling, and coding best practices.

[2019-10-10 07:55] byliuyang commented on #203
@richardbertozzo Please join this [Slack channel](https://s.time4hacks.com/r/short-slack) to discuss bugs, dev environment setup, tooling, and coding best practices.

[2019-10-10 07:55] byliuyang commented on #205
@rohanrk Please join this [Slack channel](https://s.time4hacks.com/r/short-slack) to discuss bugs, dev environment setup, tooling, and coding best practices.

[2019-10-11 16:05] byliuyang commented on #192
@lawaloy May I have your email?

[2019-10-11 16:27] lawaloy commented on #192
Lasei_1992@yahoo.com

Kind Regards,

Oluwaseyi Lawal

  On Fri, Oct 11, 2019 at 12:05 PM, Harry Liu<notifications@github.com> wrote:
@lawaloy May I have your email?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2019-10-12 03:19] #211 closed

[2019-10-12 16:31] lawaloy commented on #192
I was unable to see the link because your message is coming to my email box directly.

[2019-10-12 16:46] byliuyang commented on #192
I invited you to Slack and you joined already.

On Sat, Oct 12, 2019 at 9:31 AM Oluwaseyi Lawal <notifications@github.com>
wrote:

[2019-10-12 16:49] lawaloy commented on #192
Okay, thanks. I'm still working on that task. 

  On Sat, Oct 12, 2019 at 12:46 PM, Harry Liu<notifications@github.com> wrote:   I invited you to Slack and you joined already.

On Sat, Oct 12, 2019 at 9:31 AM Oluwaseyi Lawal <notifications@github.com>
wrote:

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2019-10-12 19:00] byliuyang opened #235 "[Feature] Add private / public option when creating short link"
Currently, all the short links created are private to their authors. We want to encourage people to share some of their short links with others to give back to the community.

To achieve this:

- Add a toggle button on the short link creation panel  to allow use to specify whether the short link created will be publicly available. By default, the short link should be private by default.
- Add a da

[2019-10-12 19:07] byliuyang opened #236 "Show public short links on index page"
When users visit `https://short-d.com/public`, they should see all the public short links This involves:

- Add React route & components to show the list of public short links
- Add GraphQL API to query all public short links

Please create a separate issue for each litem listed here and link them back to this one.

[2019-10-12 19:10] byliuyang opened #237 "Allowing user to edit their short links"
User should be able to edit the short links they created. This involves:

- Add edit & delete button to the Short links that are created by the user  in React
- Add GraphQL API to update the mutated short links

Please create a separate issue for each litem listed here and link them back to this one.

[2019-10-12 19:14] byliuyang opened #238 "Allow user to search public short links & the private short link they created"
User should be able to search the public and the private short links they created. This involves

- Add a search box in the header in React
- Add search service in React
- Create RESTful search API in Go

Please create a separate issue for each litem listed here and link them back to this one.

[2019-10-13 03:10] adharmawan commented on #237
I'd like to tackle this :)

[2019-10-13 03:17] adharmawan opened #239 "Add GraphQL API to update the mutated short links"
From #237

[2019-10-13 03:18] adharmawan opened #240 "Add GraphQL API to update the mutated short links"
From #237

[2019-10-13 06:08] byliuyang commented on #237
@adharmawan Sure!

[2019-10-13 10:00] matthewhartstonge commented on #204
Hey @byliuyang, I see you are running the tests via a docker-in-docker container, do you want the backend configured with tests directly run by drone?

For example, something like this:

[code]

[2019-10-13 10:03] byliuyang commented on #204
@matthewhartstonge I can. This would make it challenging to switch CI providers in the future as the project grow. What are your thoughts?

[2019-10-13 10:37] matthewhartstonge commented on #204
If it works - run with it. :ok_hand:
Drone is pretty powerful, we use it at work for all our deployments.

In terms of fixing this issue, the requirements main thing would be to:
- Define the required dependant services for the backend i.e. postgres
- Remove the condition on master from the testing stages to ensure every branch runs tests

[2019-10-13 18:36] byliuyang commented on #204
@matthewhartstonge I found some resources on testing:

# Different types of testing
http://softwaretestingfundamentals.com/software-testing-levels

![image](https://user-images.githubusercontent.com/3537801/66717879-b0479480-ed92-11e9-9ff8-c49b6e32aaab.png)

| Level               | Summary

[2019-10-13 19:49] lucifercr07 commented on #238
@byliuyang can I pick `Create RESTful search API in Go` part?

[2019-10-13 20:48] byliuyang opened #246 "Add React route & components to show the list of public short links"
#236

[2019-10-13 20:49] byliuyang commented on #192
Hi @lawaloy, this bug involves redesigning the database tables and changing Github OAuth & Authentication logic. It's very complex. Do you want to try a [different issue](https://github.com/byliuyang/short/issues/246) instead? I am planing to take on this.

[2019-10-13 21:00] lawaloy commented on #192
Okay, That is fine.

[2019-10-13 21:00] lawaloy commented on #192
Okay, that is fine. I will take on another issue

[2019-10-13 21:01] byliuyang commented on #192
@lawaloy Thank you!

[2019-10-13 21:13] lawaloy commented on #198
Can i take on this?

[2019-10-13 22:20] byliuyang commented on #198
@lawaloy Have you done system design before?

[2019-10-13 22:40] lawaloy commented on #198
Studying grokking the system design 

Kind Regards,

Oluwaseyi Lawal

  On Sun, Oct 13, 2019 at 6:20 PM, Harry Liu<notifications@github.com> wrote:
@lawaloy Have you done system design before?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2019-10-13 22:45] byliuyang commented on #198
@lawaloy Please propose and discuss your design here. Please also link any library you are planing to use. Docker compose file would also be changed. I personally think this is a difficult architecture & design issue.

[2019-10-14 11:10] lawaloy commented on #198
I'm trying to use this link to get started: https://www.npmjs.com/package/apicache

  On Sun, Oct 13, 2019 at 6:45 PM, Harry Liu<notifications@github.com> wrote:
@lawaloy Please propose and discuss your design here. Please also link any library you are planing to use. Docker compose file would also be changed. I personally think this is a difficult architecture & design issue.

—
You are receiving

[2019-10-14 14:52] byliuyang commented on #198
@lawaloy Well, this library looks cool 😄 However, the library is for Node.js. Our backend is written in Golang.

[2019-10-14 15:42] lawaloy commented on #198
Yes, I know this node.js and short's backend is goland. I said in my last email that I am using this approach for tracking.

Kind Regards,

Oluwaseyi Lawal

  On Mon, Oct 14, 2019 at 10:52 AM, Harry Liu<notifications@github.com> wrote:
@lawaloy Well, this library looks cool 😄 However, the library is for Node.js. Our backend is written in Golang.

—
You are receiving this because you were mentioned

[2019-10-14 16:19] byliuyang commented on #238
Hi @lucifercr07, could you please discuss your design here?

[2019-10-14 16:22] byliuyang opened #254 "Add Sign In with Facebook React component"
![image](https://user-images.githubusercontent.com/3537801/66766889-0fc1a500-ee64-11e9-9b77-7dad056610a6.png)

[2019-10-14 16:23] byliuyang opened #255 "Add GraphQL API to support sign in with Facebook account"
Currently, users can only sign in through with their Github account. Some of the users may not use Github. Adding Facebook sign in option makes Short more accessible.

[2019-10-14 16:27] duderman commented on #255
Do you mind if I jump on this one and https://github.com/byliuyang/short/issues/254 ?

[2019-10-15 05:59] byliuyang commented on #255
@duderman Sounds good to me.

[2019-10-15 08:53] duderman commented on #255
nice :) can you maybe assign them on me?

[2019-10-15 14:52] byliuyang commented on #255
Hi @duderman , you need to leave a comment at #254 in order for me to sign the issue to you!

[2019-10-15 14:55] duderman commented on #254
And this one plz :)

[2019-10-15 20:47] lucifercr07 commented on #238
@byliuyang can you please assign this issue to me? I am going through the project currently, will layout design in upcoming week.

[2019-10-16 01:57] byliuyang opened #260 "Create RESTful search API in Go"
Please support async and request cancellation based on the examples provided in the comment.
#238

[2019-10-16 01:59] byliuyang commented on #238
Hi @lucifercr07 , can you leave a comment at #260 so that I can assign it to you?

[2019-10-16 02:09] byliuyang commented on #260
Here are some references on goroutine:

1. https://talks.golang.org/2012/concurrency.slide#1
2. https://blog.golang.org/context
3. https://blog.golang.org/pipelines

[2019-10-16 03:06] byliuyang commented on #195
https://cloud.google.com/logging/docs/

[2019-10-16 03:15] byliuyang opened #261 "Create feature toggle service"
Feature toggle allows us to:
- Temporarily turn off a feature until it's ready for launch
- Performance A / B testing to validate different designs of a feature

[2019-10-16 03:33] byliuyang commented on #261
https://martinfowler.com/articles/feature-toggles.html

[2019-10-16 04:53] byliuyang opened #262 "Create feature toggle React service"
http://api.short-d.com/r/feature-flag

[2019-10-16 06:40] lucifercr07 commented on #260
@byliuyang will like to take it up

[2019-10-16 07:14] byliuyang opened #264 "Refactor the frontend to use Redux"
App behaviors are currently delegated to Home page component. This lead to very messy code that are hard to read, change, or test. Home  page component should use Redux to decouple state management away from presentation.

[2019-10-16 16:28] byliuyang commented on #197
![1D3AF4AD-5367-4104-8529-789F018A2587](https://user-images.githubusercontent.com/3537801/66939084-3f54e680-eff7-11e9-8b8e-71f23345cc4b.jpeg)

[2019-10-16 16:29] byliuyang commented on #197
Here are the testing best practices: https://api.short-d.com/r/testing

[2019-10-16 17:02] dedifferentiator commented on #197
@byliuyang

Wow, I was looking for this article my whole life

[2019-10-16 17:14] byliuyang commented on #197
@dedifferentiator Let’s together refactor & implement this article for Short to make it reliable and easy to maintain! This also serves as an opportunity for you to try them in practice!

[2019-10-17 07:04] adharmawan commented on #237
I'll complete this during the weekend, bit swamped with work this week 😅

[2019-10-18 04:51] #262 closed

[2019-10-18 05:27] #264 closed

[2019-10-18 17:34] KamalashreeNagaraj commented on #197
Hey, sorry. Had been busy the past few days. The slack channel link you shared is returning a `404 not found`.

Thank you for sharing the article.

Let me know if there is anything I can contribute with 🙂.

[2019-10-19 01:49] byliuyang commented on #197
Hi @KamalashreeNagaraj , I reactivated the link. Please try again.

[2019-10-19 04:58] KamalashreeNagaraj commented on #197
oh, it still says the same
![image](https://user-images.githubusercontent.com/13076286/67137996-2187bb80-f25b-11e9-878e-db000b793aae.png)

[2019-10-19 16:54] byliuyang commented on #197
Oh, sorry @KamalashreeNagaraj. I renamed the link to: `https://short-d.com/r/slack` instead of `https://short-d.com/r/short-slack` for simplicity

[2019-10-20 07:45] byliuyang commented on #261
![backend](https://user-images.githubusercontent.com/3537801/67156399-e032f280-f2d2-11e9-9ab8-43dbaa6c1f42.png)
https://github.com/byliuyang/toggle

[2019-10-20 08:09] adharmawan commented on #240
@byliuyang, do we first list all short links generated by users and allow them to edit each one of them or just allow edit/delete the last created short link

[2019-10-20 08:27] adharmawan commented on #240
If so, doesn't this depend on #200 ?

[2019-10-20 14:47] byliuyang commented on #240
@adharmawan You are right. It seems to depend on #200. They should be able to edit / delete each short link they created.

[2019-10-20 17:38] lucifercr07 commented on #260
Api: /api/search
Header: Auth token
Query params:
1. Paging: query params `page.size = 10, page.number = 1` (static for now)
2. type: private or public

[2019-10-20 17:56] byliuyang commented on #260
@lucifercr07 For now, we can hard code `page.size`. Let open an issue to track `custom page` size feature. Please document the API endpoint with Swagger ( OpenAPI 3 ). Let's also open an new issue to configure Dredd, a language-agnostic command-line tool for validating API description document against backend implementation of the API.

[2019-10-22 15:03] adharmawan commented on #240
Looks like a PR has been raised for that issue. Will wait for that

[2019-10-24 11:03] matthewhartstonge commented on #204
I've had a look into how best to separate out the various types of tests.
What are your thoughts on build tags?
http://peter.bourgon.org/go-in-production/#testing-and-validation

That way, we can easily add a drone step that runs `go test -tag integration ./...` on PR.

[2019-10-24 16:57] byliuyang commented on #204
@matthewhartstonge build tag is extractor what I have been looking for! Great job! Let’s implement it!

[2019-10-25 08:12] byliuyang opened #281 "Configure Kubernetes"
Short is now depending on Key Gen service. It will also be depending on auth service, feature toggle service, etc... Kubernetes is here to help manage all those services.

[2019-10-25 08:16] byliuyang commented on #281
Install & config [microk8s](https://github.com/ubuntu/microk8s) on the server

[2019-10-26 05:31] #196 closed

[2019-10-27 14:52] obukhov opened #290 "Multi-stage build for frontend and backend"
I found out that one can use either image from the hub or pre-build frontend application locally to pack it to docker.

That means that you have to have yarn installed locally if you make changes to the frontend.

There is a similar problem with backend. Distribution can carry only binary (which will make it much more lightweight) instead of carrying the whole golang sdk.

I would suggest enabling

[2019-10-27 16:29] byliuyang commented on #290
@obukhov Thank you so much! Amazing suggestion! We can also completely decouple frontend away from backend when you see fit.

[2019-10-27 16:59] #254 closed

[2019-10-28 01:07] byliuyang commented on #290
https://matthiasnoback.nl/2017/04/docker-build-patterns/

[2019-10-30 05:49] #255 closed

[2019-10-31 02:15] Coteh opened #295 "Receive "auth token is invalid" when creating a link"
Was trying to get the development environment setup to make a contribution, and opened up the app to make a short link. I authenticated with GitHub, defined a link and clicked "Create Short Link". It asked me to authenticate with GitHub again. I peered into the Network tab and noticed the following response from the `createUrl` GraphQL path:

`auth token is invalid`

I tried the same thing in prod

[2019-10-31 02:21] Coteh commented on #235
I can give this one a try.

[2019-11-02 04:47] byliuyang commented on #194
Here are the kubenetes configs for staging environment

[code]

[code]

[code]

[code]

[2019-11-02 04:47] byliuyang commented on #194
#281

[2019-11-02 04:48] byliuyang commented on #295
#192

[2019-11-02 04:49] byliuyang commented on #290
#281

[2019-11-02 04:52] byliuyang commented on #281
Currently, we are using [Microk8s](https://microk8s.io/docs/) for single machine cluster to save money. When we get more traffics in the future, we will switch to full size Kubernetes.

[2019-11-02 04:55] byliuyang commented on #281
[code]

All domain names should be resolved to `load-balancer-ip`

[2019-11-02 05:00] byliuyang commented on #194
<img width="1675" alt="Screen Shot 2019-11-01 at 9 41 33 PM" src="https://user-images.githubusercontent.com/3537801/68066271-ea051e80-fcf2-11e9-9106-836190ce7f32.png">

[2019-11-02 16:30] byliuyang commented on #281
<img width="1677" alt="Screen Shot 2019-11-02 at 9 27 43 AM" src="https://user-images.githubusercontent.com/3537801/68074005-66c7e500-fd53-11e9-8f38-1dda58f0a27b.png">

[2019-11-05 07:17] byliuyang opened #297 "Configure automatic docker image rollout"
<img width="1680" alt="Screen Shot 2019-11-04 at 10 45 09 PM" src="https://user-images.githubusercontent.com/3537801/68186526-3782c500-ff59-11e9-8ebc-0a0631b1a4f4.png">

[2019-11-06 04:13] Coteh opened #298 "Add private/public toggle on short link creation panel"
Depends on #235. Add a toggle, possibly below the short link text fields, that allows a user to specify whether they would like the short link to be public or private upon creation. By default, it will be set on private.

[2019-11-06 04:17] Coteh opened #299 "Add database attribute indicating whether a short link is public"
Depends on #235. This attribute can be added as a new column to the `url` table. By default, short links will be private, so this will be set to false by default. This column should also be non-nullable, as we only expect two states (either it's public or it isn't).

[2019-11-06 04:18] Coteh opened #300 "Update GraphQL short link creation API with new argument for public URL"
Depends on #235. Update the short link creation API to add a new argument which will be used to indicate whether the short link created is public or not.

[2019-11-06 04:19] Coteh commented on #235
Issues created.

[2019-11-06 04:22] byliuyang commented on #299
In my opinion, `private` or `public` is not naturally a property of `url`. How about creating a new table called `public_url`?

[2019-11-06 04:24] #297 closed

[2019-11-07 09:39] byliuyang opened #305 "Add sign out option in the header"
Currently, user cannot not sign out or switch account after he, she or they signed in.

[2019-11-08 06:02] #295 closed

[2019-11-09 04:43] shade34321 commented on #193
Oh man, I never saw this message. I"ll see if I can work on it later this weekend or next. I'm sorry!

[2019-11-11 05:25] byliuyang commented on #194
https://github.com/byliuyang/gitops

[2019-11-11 05:26] byliuyang commented on #194
https://staging.short-d.com/

[2019-11-11 05:26] #194 closed

[2019-11-11 06:13] byliuyang opened #315 "Migrate production to Kubernetes"
Currently, we are using [Docker compose file](https://github.com/byliuyang/short/blob/master/docker-compose.yml ) to manage Short production deployment. However, Short replies on Key Generation Service in order to correctly operate. In the future, Short may reply on more microservices. To ease container management and debugging, we are migrating Short production to kubernetes.

[2019-11-11 06:14] Coteh opened #316 "Add varchar(50) restriction for alias in url table"
The `alias` column in the `url` table should have the type `CHARACTER VARYING(50)` like the `alias` foreign key columns in `user_url_relation` and `public_url` tables.

[2019-11-11 06:16] Coteh commented on #299
#307 has been merged.

[2019-11-11 06:16] #299 closed

[2019-11-11 09:35] byliuyang commented on #281
<img width="1644" alt="Screen Shot 2019-11-11 at 1 35 10 AM" src="https://user-images.githubusercontent.com/3537801/68576763-8631d280-0423-11ea-9405-f0317beb3753.png">

[2019-11-11 09:37] byliuyang commented on #281
# Staging
<img width="676" alt="Screen Shot 2019-11-11 at 1 36 01 AM" src="https://user-images.githubusercontent.com/3537801/68576828-b5484400-0423-11ea-92e2-385a0fe81349.png">

# Production
<img width="709" alt="Screen Shot 2019-11-11 at 1 36 14 AM" src="https://user-images.githubusercontent.com/3537801/68576836-b8433480-0423-11ea-90ed-e8632fca42c4.png">

[2019-11-11 09:38] byliuyang commented on #281
#315

[2019-11-11 09:38] #315 closed

[2019-11-11 09:39] #281 closed

[2019-11-12 05:39] jscodelover commented on #305
I want to work on this issue.

[2019-11-12 06:30] jscodelover commented on #305
Can you tell is this issue needs to be done from backend side also? And the slack link which you have provided in the readme is not working. I have a few more doubts.

[2019-11-12 15:55] byliuyang commented on #305
Hi @jscodelover , to simplify, we can just add a signout button and delete the auth token in the cookie.

[2019-11-13 05:27] byliuyang commented on #305
Hi @jscodelover , the Slack link should be fixed now.

[2019-11-14 03:50] jscodelover commented on #305
Thanks, I will join the slack

[2019-11-15 02:05] #316 closed

[2019-11-15 07:24] byliuyang opened #334 "Support daily database backup"
It has been two times when I had to  recover data from previous manual database backups. This is very unreliable and time consuming.

[2019-11-15 07:28] byliuyang opened #335 "Create health check API"

[2019-11-16 02:18] byliuyang opened #341 "Decouple queries & mutations from authentication"
API consumers have to pass authToken and captchaResponse to createURL endpoint. However, createURL only cares who the user is instead of how to identify the user. Add authQuery and authMutation to handle user identification.

Examples:

### Query

[code]

### Mutation
[code]

[2019-11-16 20:22] #290 closed

[2019-11-16 20:25] #341 closed

[2019-11-17 05:07] byliuyang opened #347 "Create admin dashboard"
Currently, we are manual logging into the server to manage Short's database. This is very inconvenient.

Let's create a admin dashboard so that we can:
1) Add a short link
2) List all the short links and their owners
3) Attach a short link to a user
4) Edit existing short links
5) Delete short links
6) The system owner can upgrade an user to admin
7) The system owner can downgrade an admin to an n

[2019-11-17 05:18] byliuyang commented on #260
Let's scope this feature down to easy development progress:

1) Create RESTful API placeholders in `adapter/routing` package
2) Create repository interfaces in `usecase/repo` package. Those interfaces are purely responsible for database access and have nothing to do with search.  Create search functionalities (are dependent on `usecase/repo` interfaces) in `usercase/search` package.
3) Call search

[2019-11-17 07:24] byliuyang opened #348 "Create status page service"
It just very difficult to prevent bugs or outages from happening.
A status service ( https://status.circleci.com, https://www.githubstatus.com/ ) should be created to

1) signal users about any outages
2) allow users to subscribe any updates when services got fixed

This page can be implemented with fake data for now

[2019-11-17 08:08] #202 closed

[2019-11-17 08:14] byliuyang commented on #237
@adharmawan any update on this?

[2019-11-17 15:32] Coteh commented on #300
Added in #314

[2019-11-17 15:32] #300 closed

[2019-11-17 18:21] byliuyang opened #353 "Add change log modal"
**Is your feature request related to a problem? Please describe.**
Many updates are made to Short. Users don't know them.

**Describe the solution you'd like**
Add updates modal to remind users. Once users closed the modal for this release, it shouldn't automatically popup again. Users should be able to reopen it by clicking on a button in the footer.

![image](https://user-images.githubuserconten

[2019-11-21 14:34] alldroll commented on #261
An interesting task!
I would like to implement this service, but I have a couple of questions...

* How exactly ProbabilisticToggle should work? Is it going to use some strategy as [Epsilon greedy](http://stevehanov.ca/blog/?id=132) or [Exp3](https://jeremykun.com/2013/11/08/adversarial-bandits-and-the-exp3-algorithm/)? If not, we could just use modulo arithmetic on a user ID for A/B splitting.
*

[2019-11-21 16:05] byliuyang commented on #261
Hi @alldroll, to answer your questions:

Machine Learning optimization is definitely a plan in the future! For now, to simplify, we generate unique identifier for each user visiting the site and save it in the cookie. The ID will be tied to the users account after they signed in. `For probabilisticToggle`, the first time the user see the page, the feature toggle will decided which feature this use

[2019-11-21 16:07] byliuyang commented on #261
I haven't finished the design of analytics part it.

[2019-11-21 18:52] luisfmelo commented on #260
Is this being developed?

[2019-11-21 19:23] lucifercr07 commented on #260
@luisfmelo yes

[2019-11-22 04:07] byliuyang commented on #260
Hi @luisfmelo are there any other issue you are interested?

[2019-11-23 05:02] byliuyang opened #370 "Setting Up Alert Manager on Kubernetes"
**Is your feature request related to a problem? Please describe.**
Kubernetes pods enter crash loop without alert .

**Describe the solution you'd like**
Configure Prometheus Monitoring & Alert manager to send notifications to devops Slack channel when service crashes.

[2019-11-25 08:57] alldroll commented on #261
Ok, let me know when it will be ready!

[2019-11-26 04:55] byliuyang commented on #261
@alldroll I'll setup up the project in order to get started.

[2019-12-02 00:39] byliuyang opened #406 "[Feature] Configure testing environment"
**What is the problem?**
Currently, developers don't have their own sandboxed environment to verify their feature is working properly with the underlying infrastructure.

**Your solution**
Configure testing environment and automatically deploy PR branch ending with `*-testing`. Delete the environment when the branch is deleted.

**Alternatives considered**
Launch Kubernete cluster on local machine

[2019-12-03 05:53] dawntomm commented on #201
https://developers.google.com/identity/protocols/OAuth2WebServer
link for google oauth api documentation

[2019-12-03 09:37] princejha95 commented on #200
Looks interesting issue to me. Can i take this ?

[2019-12-06 05:50] byliuyang commented on #201
OAuth scopes can be found here: https://developers.google.com/identity/protocols/googlescopes

[2019-12-11 04:57] dawntomm opened #420 "[Refactor] Move construction code closer to struct definition"
**What is the problem?**
Constructor is put at bottom of code which makes it hard to find for developers.

**Your solution**
Put constructor close to struct definition.

**Alternatives considered**
Leave constructor as it is, because it's less likely to be changed.

[2019-12-12 22:22] ZhenhangTung opened #422 "Not using transaction to create url and its relation with users"
**Describe the bug**
[code]
The code above is not safe enough. If it fails at `err = c.urlRepo.Create(url)`, there would be a dirty record.

**Expected behavior**
Use transactions to create these records. I had my code in [my dev branch](https://github.com/ZhenhangTung/short/tree/zhenhang/use-db-transaction), but since I haven't successfully set up the dev env on my computer, I can just leave it t

[2019-12-13 03:09] byliuyang commented on #422
Hi @ZhenhangTung, thank you so much for reporting this! Would you like to take on this challenge?!

[2019-12-13 04:21] dawntomm opened #423 "[Feature] Migrate to OpenID API for Google sign in"
**What is the problem?**
There is no official document for https://www.googleapis.com/oauth2/v3/userinfo as the API endpoint to retrieve user info.

**Your solution**
Migrating to [OpenID](https://developers.google.com/identity/protocols/OpenIDConnect).

**Alternatives considered**
Keep using current endpoint.

[2019-12-17 07:13] byliuyang commented on #203
Done.

[2019-12-17 07:13] #203 closed

[2019-12-24 17:08] byliuyang commented on #201
Done.

[2019-12-24 17:08] #201 closed

[2019-12-25 20:59] jonjiang1 commented on #353
I'll be taking this! Please assign it to me

[2019-12-26 12:12] alldroll commented on #422
Brief description of our conversation about the current issue:

* It is the common problem: there are plenty of places where `transactions` are crucial for providing atomicity, here are some of the links [example 1](https://github.com/byliuyang/kgs/blob/master/app/usecase/keys/consumer.go#L25), [example 2](https://github.com/byliuyang/short/blob/bbe5a54a5b2eee9c90681d00e41cb3fbb9fc699f/backend/app

[2019-12-27 04:35] byliuyang commented on #423
https://stackoverflow.com/questions/24442668/google-oauth-api-to-get-users-email-address

[2019-12-27 08:05] #423 closed

[2019-12-27 08:05] byliuyang commented on #422
@ZhenhangTung Just saw you branch, great work! Thank you!

[2019-12-27 08:26] nathan815 commented on #305
@jscodelover Are you working on this still?

[2019-12-27 08:56] byliuyang commented on #305
@nathan815 It seems that this feature has not been proactively working on for almost a month. It can be reassigned. Are you interested in working this feature?

[2019-12-27 09:13] nathan815 commented on #406
I think this could lead to a lot of branches being named in the format `*-testing`, as many developers will probably want to be able to test their changes in a testing environment. It's also great for enabling reviewers to quickly test the changes as well. Maybe it should just create a testing environment instance for every PR?

[2019-12-27 09:18] nathan815 commented on #305
@byliuyang I am. Seems like this is a good one to start with :)

I noticed there was a merged PR regarding the sign out button but the commit got reverted. Should I start from that?

[2019-12-27 09:58] ZhenhangTung commented on #422
Thanks. I haven't set up the local development env about this project yet, so I don't have any confidence to open the PR right now. Free to use the code on my branch. It's not perfect, but I believe it is the simplest way to do the things we want, based on the current code. You can continue the development based on my code.

[2019-12-27 16:00] byliuyang commented on #406
@nathan815 Good catch! Ideally what you suggested is what I have been looking for due to great developer convenience. However, there are two challenges need to addressed, which temporarily dragged me to a `*-testing` branch approach :

1) Creating environment for every branch need to dynamically create and delete namespaces on Kurbernetes. This can't simply use simple static configs, which is very

[2019-12-28 06:22] byliuyang commented on #204
Done.

[2019-12-28 06:22] #204 closed

[2019-12-31 02:54] JackieYJC commented on #205
Would love to work on this!

[2019-12-31 03:16] byliuyang commented on #205
Hi @JackieYJC , the progress of this issue is now tracked here: https://github.com/byliuyang/short/projects/1

[2020-01-13 14:38] chengwhynot opened #482 "[BUG]"
**Describe the bug**
looks like if recapcha service timed out, the web app will pop up an error.

**To Reproduce**
1. You know the connection to google services is NOT stable in China
2. Input 'http://www.google.com' in new short textbox
3. hit click with 'anger', I click it several times in a second
4. pop up error dialog, and I can see error in console

**Expected behavior**
work smoothly

**Scr

[2020-01-13 16:10] byliuyang commented on #482
Hi @chengwhynot , thank you for reporting this BUG! I am sorry for making you `angry` when it's not working. Due to lack of Google support in China, we have to figure something for user behind the biggest `LAN` ;)

[2020-01-13 16:51] byliuyang opened #483 "[Feature] Add documentation for Google sign in feature"
**What is the problem?**
There is no documentation on how to configure Google sign in feature.

**Your solution**
Add documentation on how to setup Google sign in API and on how to configure environmental variables. [.env.dist](https://github.com/short-d/short/blob/master/backend/.env.dist) should also be updated.

[2020-01-13 17:00] byliuyang commented on #482
@chengwhynot I think we need to switch to a different Captcha service provider for chinese users. Or we implement our own no Captcha service.

[2020-01-19 17:57] dawntomm commented on #483
I will work on this issue

[2020-01-19 17:58] byliuyang commented on #483
@dawntomm Cool!

[2020-01-20 06:00] #205 closed

[2020-01-20 06:40] #483 closed

[2020-01-20 06:53] byliuyang opened #487 "[BUG] Google sign in screenshot is not correctly displayed in the README"
![image](https://user-images.githubusercontent.com/3537801/72704756-82e75100-3b0e-11ea-8219-6e832e05b78e.png)

[2020-01-20 06:54] dawntomm commented on #487
I will fix it

[2020-01-20 06:56] byliuyang opened #488 "[BUG] Google sign in section is missing from the table of contents"
![image](https://user-images.githubusercontent.com/3537801/72704926-e4a7bb00-3b0e-11ea-904f-45aa0837f10d.png)

[2020-01-20 06:57] dawntomm commented on #488
will fix right now

[2020-01-20 06:58] byliuyang commented on #193
The component should be hidden by feature toggle by default.

[2020-01-20 07:24] #488 closed

[2020-01-20 07:26] #487 closed

[2020-01-20 07:36] byliuyang opened #492 "[Feature] Add integration tests for Google identityProvider"
**What is the problem?**
Currently, there is no integration test for Google OAuth API. This results in low test coverage. People can accidentally break the code without knowing.

**Your solution**
Add integration tests for Google identityProvider.

**Additional context**
https://github.com/short-d/short/blob/master/backend/app/adapter/google/identityprovider.go
Please carefully read every single p

[2020-01-20 07:38] byliuyang opened #493 "[Feature] Add integration tests for Github identityProvider."
**What is the problem?**
Currently, there is no integration test for Github OAuth API. This results in low test coverage. People can accidentally break the code without knowing.

**Your solution**
Add integration tests for Github identityProvider.

**Additional context**
https://github.com/short-d/short/blob/master/backend/app/adapter/github/identityprovider.go
Please carefully read every single p

[2020-01-20 07:44] byliuyang opened #494 "[Feature] Rewrite facebook API package"
**What is the problem?**
Existing [facebook package](https://github.com/short-d/short/tree/master/backend/app/adapter/facebook) was checked in for a rush bug fix. The code is not held to the standard as of [google package](https://github.com/short-d/short/tree/master/backend/app/adapter/google).

**Your solution**
Research Facebook APIs and rewrite this package based on the coding standard of `goo

[2020-01-20 16:47] Tlac commented on #348
I'll take this on!

[2020-01-20 18:17] byliuyang commented on #197
This one is unpractical to achieve. Closing now.

[2020-01-20 18:17] #197 closed

[2020-01-20 18:29] dawntomm commented on #494
I will take this

[2020-01-20 18:29] dawntomm commented on #492
I will take this

[2020-01-20 18:41] byliuyang opened #495 "[Refactor] Move business logics from routing package to usecase package"
**What is the problem?**
Currently, there are business and presentation logics co-living inside routing package.

**Your solution**
Abstract out presentation logic through Presenter interface and move business rules into use cases.

**Additional context**
![image](https://user-images.githubusercontent.com/3537801/72750316-67616200-3b71-11ea-87eb-1e5fc1fdd949.png)

[2020-01-21 03:51] JackieYJC commented on #193
I can take this task. Seems like a very important feature to the user!

[2020-01-21 07:21] byliuyang opened #497 "[Refactor] Extract create short link section into its own fragment"
**What is the problem?**
The internal implementation of create short link fragment is hard coded inside Home page component. This not only makes the code more complex to understand but also prevent the fragment from being reused in other part of the application.

**Your solution**
Extract create short link section into its own fragment and replace with corresponding code inside Home page component

[2020-01-23 06:01] JackieYJC commented on #497
Hi can I pick up this task?

[2020-01-24 08:18] #492 closed

[2020-01-25 13:33] #493 closed

[2020-01-28 04:57] #494 closed

[2020-01-28 06:59] dawntomm commented on #200
Can i take this ?

[2020-01-29 16:48] Tlac commented on #348
Harry and I have decided on having this feature on its own service

[2020-03-03 16:43] kapillamba4 commented on #305
@byliuyang May i work on this?

[2020-03-03 16:54] byliuyang commented on #305
Yes

[2020-03-04 04:46] kapillamba4 opened #509 "TODO(issue#305): Use flex layout to prepare for search box of dynamic width."
**What is the problem?**
No search bar exists in header to search for public short links & private short links.

**Your solution**
Use flex layout to prepare for search box of dynamic width.

[2020-03-04 04:47] #509 closed

[2020-03-04 05:06] #305 closed

[2020-03-04 05:32] byliuyang opened #512 "[BUG] Sign out button shows up when the user is not signed in"
**Describe the bug**
Sign out button shows up in the header even when the user is not signed in.

**To Reproduce**
1. Open https://staging.short-d.com

**Expected behavior**
Sign out button should only show up after user is signed in.

**Screenshots**
<img width="942" alt="Screen Shot 2020-03-03 at 9 29 27 PM" src="https://user-images.githubusercontent.com/3537801/75848208-5aea3f00-5d96-11ea-8520-

[2020-03-04 05:37] byliuyang commented on #512
Add a new property `isUserSignedIn` to <Header> and update the state of `Home` page to track whether an user is signed in.

Set the value of `isUserSignedIn` here:
[code]

[2020-03-04 05:50] dawntomm opened #513 "[Refactor] Remove KeyGenerator interface"
**What is the problem?**
Currently NewKey() under KeyGenerator is abstracted out through interface.

**Your solution**
Replace the unnecessary interface with concrete implementation.

[2020-03-04 07:04] #512 closed

[2020-03-04 07:41] byliuyang opened #515 "[Feature] Add a search box React component in the header"
**What is the problem?**
Users can't search short links easily.

**Your solution**
Add a search box component in the header between logo and sign out button to allow users to search short links. This include suggestions box as well, similar as:
<img width="1095" alt="Screen Shot 2020-03-03 at 11 39 05 PM" src="https://user-images.githubusercontent.com/3537801/75856120-8a09ac00-5da8-11ea-945a-b6196

[2020-03-04 07:44] byliuyang commented on #515
Please creates SearchService and feed in fake data instead. Also create a feature flag and temporarily hide the search box until the backend is hooked up: https://github.com/short-d/short/blob/master/frontend/src/service/FeatureDecision.service.ts

[2020-03-04 15:56] byliuyang commented on #515
There will be a separate issue for the backend APIs

[2020-03-05 03:43] byliuyang opened #517 "[BUG] UI looks unnatural on mobile devices"
**Describe the bug**
The web UI is not responsive to various screen sizes

**To Reproduce**
1. Open short-d.com in Chrome.
2. Right click on the page and select Inspect.
3. Click on toggle device toolbar icon at the left bottom corner.
4. Select responsive.
5. Resize the page.

**Expected behavior**
The UI should look well designed on all devices. Users should be able to interact with it easily.

[2020-03-05 07:36] byliuyang opened #519 "[Feature] Add feedback button on the homepage"
**What is the problem?**
Currently, users send feedbacks by emailing Harry directly. It's hard to track those bug and feature requests this way. There is also no visibility inside the team to directly act on users feedbacks.

<img width="767" alt="Screen Shot 2020-03-04 at 11 35 17 PM" src="https://user-images.githubusercontent.com/3537801/75958341-dcae9b00-5e70-11ea-929d-e2f62eeffec3.png">

<img

[2020-03-05 07:37] byliuyang commented on #519
@JackieYJC Need your insights on this.

[2020-03-05 17:29] kapillamba4 opened #520 "[Refactor] Implement debouncing for input in search bar"
Remove [react-debounce-input](https://www.npmjs.com/package/react-debounce-input)
https://github.com/short-d/short/pull/516#discussion_r388382656

[2020-03-06 05:15] #513 closed

[2020-03-06 05:29] byliuyang opened #521 "[Doc] Add deployment diagrams to README"
**What is the problem?**
There is no diagram explaining how our deployment actually happens including Slack notification.

**Your solution**
Add diagrams explaining our deployment system architecture and blue-green deployment methodology.

[2020-03-06 05:39] byliuyang commented on #260
For now, please only search private alias

[2020-03-06 05:40] dawntomm commented on #260
I will work on it

[2020-03-06 08:26] alldroll commented on #199
I guess we should use one of the ready solutions, for instance https://www.jaegertracing.io/

[2020-03-06 16:46] #515 closed

[2020-03-06 16:55] byliuyang commented on #199
@alldroll This one looks cool! Let's see what features they are offering and how can we recreate our own!

[2020-03-06 20:15] rohithbalaji123 opened #522 "[Feature] Remove Get Chrome Extension component when user already installed the extension."
**What is the problem?**
The "Get Chrome Extension" component is being shown even after the user installs the extension.

**Your solution**
Hide the component once the browser already has the extension.
BJury's answer in [here](https://stackoverflow.com/questions/6293498/check-whether-user-has-a-chrome-extension-installed) explains a way to achieve this.

**Alternatives considered**
Probably show

[2020-03-06 20:46] byliuyang commented on #522
Hi @rohithbalaji123 , are you interested in prototyping this feature?!

[2020-03-07 02:43] rohithbalaji123 commented on #522
Hey @byliuyang , sure. I would like to give it a try over this weekend.

[2020-03-07 03:43] byliuyang opened #523 "[Maintainability] Malformated code"
Go report complains that 1 .go file is formatted.
Please run `./scripts/format` inside `backend` to format the code.

https://goreportcard.com/report/github.com/short-d/short

<img width="1001" alt="Screen Shot 2020-03-06 at 7 41 17 PM" src="https://user-images.githubusercontent.com/3537801/76136105-c32d6080-5fe2-11ea-954c-6885638fe7bc.png">

Please click on refresh at Go Report after the PR is su

[2020-03-07 03:48] byliuyang commented on #522
@rohithbalaji123 Thank you! I prefer automatically hide the flash message. Probably message passing.

[2020-03-07 05:26] rohithbalaji123 opened #527 "[Feature] Allow generated link to be copied into user's clipboard"
**What is the problem?**
Every time user wants to generate a short link and share it with their fellows, they have to select the link text and then copy.

**Your solution**
Instead, the generated the link can be automatically copied to clipboard.

**Alternatives considered**
Instead, there can also be a button which on clicking will copy the generated link to clipboard.

**Additional context**
Ins

[2020-03-07 05:32] byliuyang commented on #527
Auto copy to clipboard and show a toast message at the bottom of the page to let them know it's copied.

![image](https://user-images.githubusercontent.com/3537801/76137454-f9bea780-5ff1-11ea-922d-ec60a0710208.png)

[2020-03-07 21:28] #523 closed

[2020-03-08 08:59] rohithbalaji123 commented on #527
@byliuyang , I would like to take this up.

[2020-03-08 10:51] byliuyang commented on #520
https://rxjs.dev/guide/overview

[2020-03-09 05:39] byliuyang commented on #495
This is making the code unnecessarily complex at the current stage of the project. Closing this issue for now.

[2020-03-09 05:39] #495 closed

[2020-03-09 06:13] byliuyang opened #541 "[Feature] Support ID field for Facebook sign in"
**What is the problem?**
Currently, we identify a user through email provided by their party oauth service. It's not always possible to obtain user's email. User can also change his or her email.

**Your solution**
Add ID field to Facebook account provider so that an user sign in through Facebook account can be uniquely identified.

[2020-03-09 16:35] byliuyang commented on #519
@kapillamba4 I will break down this work after I come back home.

[2020-03-09 20:45] nopestack commented on #347
Does the UI needs to be written in Angular? Otherwise I'd like to take up this task

[2020-03-10 01:49] byliuyang commented on #347
@nopestack It can be in React! I prefer we build in the UI from scratch.

[2020-03-10 03:10] #522 closed

[2020-03-10 05:22] byliuyang opened #545 "[BUG] invalid extension id: 'extension_id' error on staging"
**Describe the bug**
When visiting [staging](https://staging.short-d.com) website,  `invalid extension id: 'extension_id'` error is thrown in developer console.
<img width="1440" alt="Screen Shot 2020-03-09 at 10 16 12 PM" src="https://user-images.githubusercontent.com/3537801/76282021-c8ddad00-6253-11ea-878d-13cee537f449.png">

**To Reproduce**
1. Open [staging](https://staging.short-d.com) websi

[2020-03-10 05:30] kapillamba4 commented on #545
Experiencing this issue on mozilla as well (on dev environment)
![Screen Shot 2020-03-10 at 10 29 28](https://user-images.githubusercontent.com/20877996/76282688-6241a900-62be-11ea-9c1d-a7e96923af25.png)

[2020-03-10 05:36] byliuyang commented on #545
Here are some hints on resolving this issue:
1) Remove `REACT_APP_CHROME_EXTENSION_ID` from [.env.production](https://github.com/short-d/short/blob/master/frontend/.env.production), [.env.staging](https://github.com/short-d/short/blob/master/frontend/.env.staging), and [.env.test](https://github.com/short-d/short/blob/master/frontend/.env.test)
2) Update CI pipeline to retrieve `REACT_APP_CHROME_E

[2020-03-10 06:18] #520 closed

[2020-03-10 07:36] kapillamba4 opened #546 "[BUG] Falky CI build"
**Describe the bug**
CI build fails if there are concurrent backend integration tests running.
Example: https://ci.time4hacks.com/short-d/short/1758

**Expected behavior**
CI build should be successful.

[2020-03-10 09:11] nopestack commented on #347
Ok, I'm going to iterate on this throughout the week.

[2020-03-10 17:24] #545 closed

[2020-03-11 01:17] byliuyang commented on #335
https://microservices.io/patterns/observability/health-check-api.html

[2020-03-11 15:51] #517 closed

[2020-03-12 06:04] #541 closed

[2020-03-14 05:37] #497 closed

[2020-03-14 17:05] byliuyang opened #557 "[BUG] Automatic filling in long link is broken"
**Describe the bug**
A blank page is shown when `?long_link` is included in the URL.

**To Reproduce**
1. Open any webpage other than short-d.com
2. Click on the Chrome extension

**Expected behavior**
The page should load and long link should be automatically filled into the TextField.

**Screenshots**
<img width="1440" alt="Screen Shot 2020-03-14 at 10 01 37 AM" src="https://user-images.githubus

[2020-03-14 18:02] byliuyang opened #559 "[Feature] Report test coverage for the frontend"
**What is the problem?**
There is no automated test for frontend, which causes production issues (https://github.com/short-d/short/issues/557) without people knowing ahead of time.

**Your solution**
Report test coverage for the frontend to encourage people to add unit-tests for services and ui components.

[2020-03-14 22:06] #557 closed

[2020-03-15 07:17] JackieYJC commented on #193
For this task, does the UI need to be in place? In other words, is the expectation that after it is done, whoever works on the backend API for read/write to the database can just populate the component and enable the feature to live?

[2020-03-15 07:27] byliuyang commented on #193
@JackieYJC Mostly yes. For now, we just populate fake data and turn off the feature toggle. We will have to make small change to our frontend data service to make sure it pulls data from real backend.

[2020-03-15 07:34] JackieYJC commented on #193
Gotcha, I'm considering using tables from this source: https://material-ui.com/components/tables/

[2020-03-15 16:40] #353 closed

[2020-03-15 17:38] byliuyang commented on #335
# Priorities

1. Service online
2. Avg response time
3. QPS
4. `#` of DB failures
5. `#` of DB connection
6. Memory usage
7. CPU usage

[2020-03-15 19:12] #559 closed

[2020-03-15 19:15] byliuyang commented on #193
@JackieYJC Prefer building the components ourselves so that we:
1) easily customize the styles
2) add new features
3) learn how the internals work

[2020-03-15 19:18] JackieYJC commented on #193
@byliuyang Yes, I don't intend to copy-and-paste anything. Just learn their tricks and apply it here. A table is a table 😛

[2020-03-15 19:32] byliuyang commented on #193
@JackieYJC Let's split this issue into few PRs:

1) The reusable table component
2) The reusable pagination component
3) The `ShortLinks`  component
4) Fake  `ShortLinkService`
5) Integrate `ShortLinks`  component and `ShortLinkService` in Home page with feature toggle turned off.

[2020-03-16 06:20] byliuyang opened #566 "[Feature] Create backend GraphQL APIs for change logs"
**What is the problem?**
Change log modal is rendering dummy logs.

**Your solution**
Create backend GraphQL APIs to query change logs for a given user.

[2020-03-16 06:20] byliuyang commented on #566
https://github.com/short-d/short/pull/530

[2020-03-16 06:29] byliuyang commented on #566
Here are some steps need to create this API:

1. Propose GraphQL API schema for change logs on this issue.
2. Propose new DB tables for change logs on this issue.
3. Create DB migrations, create corresponding repositories, and add DB integration tests.
4. Create a `changelog` package within `usecase` package and add the required usecase with unit tests.
5. Add GraphQL schema and resolvers.
6. Hook

[2020-03-16 06:39] lucifercr07 commented on #335
@byliuyang Can you assign this to me?

[2020-03-17 16:46] byliuyang opened #568 "[Maintainability] Add unit test for Button"
https://github.com/short-d/short/blob/master/frontend/src/component/ui/Button.tsx

[2020-03-17 16:47] byliuyang opened #569 "[Maintainability] Add unit test for Notice"
https://github.com/short-d/short/blob/master/frontend/src/component/ui/Notice.tsx

[2020-03-17 16:48] byliuyang opened #570 "[Maintainability] Add unit test for Section"
https://github.com/short-d/short/blob/master/frontend/src/component/ui/Section.tsx

[2020-03-17 16:49] byliuyang opened #571 "[Maintainability] Add unit test for SearchBar"
https://github.com/short-d/short/blob/master/frontend/src/component/ui/SearchBar.tsx

[2020-03-17 16:50] byliuyang opened #572 "[Maintainability] Add unit test for Modal"
https://github.com/short-d/short/blob/master/frontend/src/component/ui/Modal.tsx

[2020-03-17 16:50] byliuyang opened #573 "[Maintainability] Add unit test for ChangeLogModal"
https://github.com/short-d/short/blob/master/frontend/src/component/ui/ChangeLogModal.tsx

[2020-03-17 16:51] byliuyang opened #574 "[Maintainability] Add unit test for ViewChangeLogButton"
https://github.com/short-d/short/blob/master/frontend/src/component/ui/ViewChangeLogButton.tsx

[2020-03-17 16:52] byliuyang opened #575 "[Maintainability] Refactor and add unit test for Toggle"
https://github.com/short-d/short/blob/master/frontend/src/component/ui/Toggle.tsx

[2020-03-17 18:18] rohithbalaji123 opened #576 "[BUG] OriginalUrl field not fed in ShortLinkUsage component."
**Describe the bug**
originalUrl field in the ShortLinkUsage component not fed.

**To Reproduce**
1. Go to short-d.com and create a short link.
2. You can see `You can now paste <short-url> in your browser to visit .`

**Expected behavior**
The page should show `You can now paste <short-url> in your browser to visit <original-url>.` instead. Or, we can modify the statement such that `<original-url

[2020-03-18 03:49] rohithbalaji123 commented on #406
Yeah, having a single branch named `testing` sounds good. It prevents both concurrent deployment issues and also using huge resources from the server if not maintained properly.

The non technical part of this feature would involve,
- Allow force pushing in this branch to allow multiple developers test while the previous changes in the branch are not merged.
- Have a slack channel dedicated to thi

[2020-03-18 04:30] byliuyang commented on #406
@rohithbalaji123 Great interpretation! This branch will allow force push. I am thinking in the future, we can have a resource allocation system where people can book testing branch for certain period for their demo sessions ahead of time.

Ideally we want to span up testing environment for every PR in the future so that there won't be any usage conflicts.

[2020-03-19 04:51] #568 closed

[2020-03-19 05:19] #574 closed

[2020-03-19 19:56] rohithbalaji123 opened #582 "[BUG] Alias Not Available modal keeps popping up when not closed with 'x' button"
**Describe the bug**
Alias Not Available modal keeps popping up for every change in input text when not closed using the 'x' button in the modal.

**To Reproduce**
1. Go to short-d.com, type a Long Link and an unavailable alias and click on `Create Short Link`
Eg: Long Link => `https://github.com`, Custom Short Link => `gg`
2. An error modal showing that the alias is not available will be shown. C

[2020-03-20 06:17] byliuyang commented on #582
@rohithbalaji123 I don't think users should be allowed the interact before modal is closed.

[2020-03-20 16:38] #570 closed

[2020-03-21 00:25] #569 closed

[2020-03-21 05:25] byliuyang commented on #582
The modal implementation turns out to be incorrect.

[2020-03-21 06:35] #582 closed

[2020-03-21 06:45] byliuyang opened #590 "[Refactor] Extract out Error Modal into a separate component"
Currently, error modal code is nested inside Home page component (https://github.com/short-d/short/blob/master/frontend/src/component/pages/Home.tsx#L290-L308) which increased the complexity of home page.

Let's extract it out into a separate component so that it is easier to read and understand the core logic of home page.

[2020-03-21 06:48] #572 closed

[2020-03-21 17:57] kapillamba4 commented on #566
**GraphQL schema:**
[code]

**Columns for DB table "change_log":**
![Screenshot from 2020-03-21 23-21-44](https://user-images.githubusercontent.com/20877996/77233047-e4897180-6bca-11ea-9185-f044524c633b.png)

**12_add_changelog_table.sql**
[code]

**13_add_last_seen_changelog_column.sql**
[code]
@byliuyang

[2020-03-21 19:09] #573 closed

[2020-03-22 01:16] byliuyang commented on #566
# GraphQL schema

[code]

# DB tables

## change_log
| Column      | Type                     | Default    | Constraints        |
|-------------|--------------------------|------------|--------------------|
| id          | CHARACTER VARYING(5)     | no default | primary key unique |
| title       | CHARACTER VARYING(100)   | no default |                    |
| summary     | TEXT

[2020-03-22 01:35] kapillamba4 commented on #566
@byliuyang  createChange() cannot be written right now until admin dashboard is completed...we would have to manually add changelog to database...user_id is not populated right now...may I add another column email to user_change_log...what would happen if email changes?

[2020-03-22 01:53] byliuyang commented on #566
@kapillamba4 Let's keep user ID but just not make it `foreign key` yet. I am now working hard on `user email` to `user ID` migration ( hopefully will be done soon ).

`createChange` is needed. We can use [Insomnia](https://insomnia.rest/graphql/) to invoke `createChange` API before the admin dashboard is done. Your next ticket will be creating the admin dashboard and flesh out change log section o

[2020-03-22 02:00] rohithbalaji123 commented on #566
@byliuyang @kapillamba4 Hey, I was reading through the thread and had a couple of doubts.
- Are we showing the change logs for newly registered users?
- If a user is logging in after a long time, are we showing the whole list of change logs?

[2020-03-22 02:22] byliuyang commented on #566
@rohithbalaji123 We only show the ones they haven't seen yet by default. When clicking on `view all` button, we will all changes for now. In the future, we want to have pagination.

@rohithbalaji123 We should only show the changes happened after the user created his or her account.

[2020-03-22 02:36] rohithbalaji123 commented on #566
Ohkay, great. If I login after say, an year, will I see all the changes happened since then? Or are we limitting to any threshold number of items in the list?

[2020-03-22 03:22] byliuyang commented on #566
@rohithbalaji123 We should have some threshold.

[2020-03-22 06:03] byliuyang commented on #590
Need to add unit test for this component!

[2020-03-22 15:21] rohithbalaji123 opened #595 "[Feature] Limit number of updates shown for users."
**What is the problem?**
When showing changes logs in the website, there is a possibility that a user might login after a really long time when he will he fed with too many changes making it difficult for the user to go through all the changes.

**Your solution**
We can limit the number of logs shown to an appropriate count(n). Also, we can't just choose the last n updates as the user might miss s

[2020-03-22 15:35] byliuyang commented on #595
Love this!

[2020-03-23 01:51] JackieYJC opened #599 "[REFACTOR] Simplify invokeCreateShortLinkApi() to improve readability"
Currently the code: https://github.com/short-d/short/blob/master/frontend/src/service/Url.service.ts#L132-L166 is difficult to read and maintain.

Try to simplify the business logic to improve the readability, in terms of variable names, method abstractions, and type clarity.

[2020-03-23 02:29] #576 closed

[2020-03-23 05:57] oatovar commented on #239
I can take on this issue, and update everyone this Friday regarding the progress made.

[2020-03-27 04:31] rohithbalaji123 opened #604 "[Refactor] Create ShortLinkService to decouple business logic from Home view"
Consolidate methods related to ShortLink in a separate class `ShortLinkService`. Currently, the methods to be consolidated are,
- [ ] Home.copyShortenedLink

[2020-03-27 07:32] #527 closed

[2020-03-28 20:56] rohithbalaji123 commented on #406
User flow:
- A developer pushes changes to the testing branch.
- CI starts running and push a docker image to Dockerhub
- Dockerhub send an event to keel's webhook
- keel pull the image from Dockerhub and update it on Kubernetes
- keel send a notification on slack so that the developer knows his or her changes are ready to be previewed

Step:
- Configure testing env to mirror all production servic

[2020-03-28 20:57] rohithbalaji123 commented on #406
Finished creating testing environment for short, kgs and status page along with @byliuyang .

[2020-03-28 21:45] #406 closed

[2020-03-29 21:20] oatovar commented on #239
**Required Steps**
1. Propose GraphQL API schema changes
2. Add `urlupdater.go` and `urlupdater_test.go` to the `usecases` [url](https://github.com/short-d/short/tree/master/backend/app/usecase/url) package.
3. Add approved changes to GraphQL API schema and resolvers.
4. Update [wire.go](https://github.com/short-d/short/blob/master/backend/dep/wire.go) for dependency injection.
5. Integrate the up

[2020-03-30 00:31] oatovar commented on #239
**GraphQL Schema**

[code]

[2020-03-30 05:16] rohithbalaji123 commented on #236
Hey @byliuyang , do we show all the public links created by all the users or just the ones created by the logged in user?

[2020-03-30 06:38] byliuyang commented on #239
@oatovar Looks great to me!

For your information, we may consider combining all operations on urls to a single place. Maybe still keep the separate interfaces. Not sure what to do yet. The goal is to reduce unnecessary complexities.

[2020-03-31 07:09] byliuyang commented on #236
@rohithbalaji123 By all users. Probably just the top 50 having the most traffic.

[2020-03-31 07:49] byliuyang commented on #347
For the first version, we should be able to `create`, `delete`, and `update` change logs.

[2020-03-31 11:00] rohithbalaji123 commented on #347
Creating a new issue for admin dashboard with CRUD operations related to Change logs.

[2020-03-31 11:22] rohithbalaji123 opened #612 "[Feature] Create admin dashboard for Change logs related queries"
This issue is a start to a bigger issue #347 which concentrates on adding an admin dashboard with a constrained functionalities of supporting CRUD operations related to Change Logs.
This issue will have multiple PRs split in the form of,
- [ ] Design a wireframe for the layout of the admin page (offline, will be updated once finalized).
- [ ] Design [reusable] React components for the purpose.
- [

[2020-04-01 03:16] oatovar commented on #239
@byliuyang Definitely understandable, making this flexible enough for future additions takes time.

[2020-04-01 07:05] byliuyang commented on #612
@rohithbalaji123 We also need to implementation `authorizer` to handle permissions: https://martinfowler.com/articles/web-security-basics.html#AuthorizeActions

[2020-04-01 07:26] byliuyang commented on #335
https://short-d.com/r/health-check-design

[2020-04-01 07:46] byliuyang commented on #195
https://martinfowler.com/articles/domain-oriented-observability.html#IncludingExecutionContext

[2020-04-01 07:49] byliuyang commented on #612
For your information, I am refactoring authenticator: https://github.com/short-d/short/pull/611

[2020-04-01 07:52] byliuyang commented on #519
Let's make this is a separate service with Microfrontend architecture: https://martinfowler.com/articles/micro-frontends.html

[2020-04-01 07:54] byliuyang commented on #519
https://www.toptal.com/front-end/micro-frontends-strengths-benefits

[2020-04-01 09:55] rohithbalaji123 commented on #612
@byliuyang
Okay, updated the issue.
Also, I guess, we would need a separate login page for admin site. Having a modal like in main site doesn't look completely secure for admin actions. What are your thoughts?

[2020-04-01 16:23] kapillamba4 opened #613 "[Feature] Implement lastViewedAt for ChangeLog use case"
**What is the problem?**
Last viewed change log time for every user is currently set to a temporary value when retrieved using GraphQL API query.

**Your solution**
Allow fetching last time the user viewed the change log from persistent storage with help of UserChangeLog usecase.

[2020-04-01 17:12] byliuyang commented on #612
@rohithbalaji123 I saw some critical large scale system sharing the same sign in page. However, I do see them having two factor authentication. We may want to force 2 - factor authentication for admin accounts.

[2020-04-02 07:58] byliuyang commented on #348
Here is the project proposal: http://s/status

[2020-04-02 08:08] byliuyang opened #614 "[Feature] Enable 2-factor authentication for admins"
**What is the problem?**
We are building admin panel for Short. There is currently no way to protect admins' credentials from being stolen by hackers.

**Your solution**
Enable two factor authentication for users who are admins.

[2020-04-02 08:23] byliuyang commented on #614
# Some helpful readings
- https://hackernoon.com/how-to-implement-google-authenticator-two-factor-auth-in-javascript-091wy3vh3

This should support using Google Authenticator to generate password:
![image](https://user-images.githubusercontent.com/3537801/78226423-8b4df780-7480-11ea-98b0-559a26e8604e.png)

[2020-04-02 08:29] byliuyang commented on #614
In the future, we are considering of using our Phones as security key to protect admins: https://cloud.google.com/security-key

[2020-04-02 17:20] rohithbalaji123 opened #616 "[Feature] Support short link automatically copying to clipboard in Firefox"
**What is the problem?**
The generated short link should be automatically copied to clipboard and a toast message should be shown.

**Your solution**
There are 2 solutions for this as mentioned in this [link](https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/Interact_with_the_clipboard).
- We can modify the logic to call `document.execCommand("copy")` command in a short click

[2020-04-04 01:52] Coteh commented on #575
Hey @kapillamba4 are you working on this task currently?

[2020-04-04 02:01] kapillamba4 commented on #575
No @Coteh

[2020-04-04 06:07] rohithbalaji123 opened #619 "[BUG] Incorrect component reference in Table tests file"
Rename `toastRef` to `tableRef` in Table test file.

[2020-04-04 06:11] kapillamba4 opened #620 "[BUG] Some ChangeLog integration tests are failing"
**Describe the bug**
Some of the ChangeLog integration tests are failing

**To Reproduce**
1. Run  `go test -v -tags=integration ./...` in backend directory

[2020-04-04 06:32] #619 closed

[2020-04-04 17:53] JackieYJC opened #623 "[BUG] Fix auth token short expiration period bug"
**Describe the bug**
Currently after user sign in for 24 hours, the auth token expires and the user will see 'Unknown Error' alert when they create the short link. To fix this issue, user would have to manually sign out and re-sign in. However, we never tell user how to re-sign and all they see is the 'Unknown Issue' alert.

**To Reproduce**
1. Sign in to short website
2. Wait for 24 hours
3. Visi

[2020-04-05 07:04] kapillamba4 commented on #200
[code]

GraphQL Schema:
[code]

@byliuyang

[2020-04-05 17:48] #620 closed

[2020-04-06 08:08] byliuyang opened #628 "[Maintainability] Add PR author's guide to CONTRIBUTING.md"
**What is the problem?**
There are lots of large PRs without clear PR descriptions. People never had the opportunity to learn how to write good PR description and why to create small PRs.

**Your solution**
Revise https://wiki.gnome.org/Git/CommitMessages and https://github.com/google/eng-practices/blob/master/review/developer/index.md. Add PR author section to CONTRIBUTING.md

[2020-04-06 08:14] kapillamba4 opened #629 "[Doc] Come up with a universal strategy to handle pagination"
**What is the problem?**
Pagination is not yet implemented for any GraphQL query in the short app.

**Your solution**
Come up with a universal strategy to handle pagination.

[2020-04-07 03:33] byliuyang opened #631 "[Page Control] support responsive layouts"

[2020-04-07 03:35] byliuyang opened #632 "[Pagination] Support rendering large number of pages gracefully for page control"

[2020-04-07 16:57] byliuyang opened #634 "[BUG] Test cases referencing the incorrect variable when running in parallel"
**Describe the bug**
Test cases referencing the incorrect variable when running in parallel. This causes all test runs are using the same input values.

**To Reproduce**
1. Add `fmt.Println("===")` after line 300.
1. Run `urlretriever_test.go`
1. `"==="` never shows up in the test log

**Expected behavior**
`"==="` should show up in the test log and the code coverage of `urlretriever.go` should re

[2020-04-07 16:58] byliuyang commented on #634
`testCase` should be initialized for closure to capture the value of loop variable.

<img width="524" alt="Screen Shot 2020-04-07 at 9 58 01 AM" src="https://user-images.githubusercontent.com/3537801/78697848-4aa61200-78b6-11ea-9124-4bc4e12a4e43.png">

[2020-04-07 19:17] #634 closed

[2020-04-08 07:41] byliuyang opened #640 "[Refactor] Replace hard-coded auth token valid duration with value from env variable"
Currently, auth token valid duration is hard-coded in [wire.go](https://github.com/short-d/short/blob/master/backend/dep/wire.go). This value should be extracted from environmental variable to avoid unnecessary code changes in the future.

[2020-04-08 08:12] byliuyang commented on #519
This should also support email, text message and Slack notification.

[2020-04-08 08:36] arberiii commented on #640
@byliuyang Can I work on this issue?

[2020-04-08 08:50] byliuyang opened #643 "[Feature] Integrate change log api with the frontend"
**What is the problem?**
[Change log service](https://github.com/short-d/short/blob/master/frontend/src/service/ChangeLog.service.ts) in the frontend is rendering dummy data hard-coded.

**Your solution**
Integrate change log service with [GraphQL API](https://github.com/short-d/short/blob/033ccc686046e12f72cdfdbdd3b829bebfab88e1/backend/app/adapter/graphql/schema.go#L17) so that change log modal

[2020-04-08 08:53] kapillamba4 commented on #643
email must be mappped to user id before this issue

[2020-04-08 08:54] byliuyang commented on #643
@kapillamba4 How about we use email as user ID for now?

[2020-04-08 08:55] byliuyang commented on #643
The ID migration is taking more time than I expected.

[2020-04-08 08:59] byliuyang opened #644 "[Feature] Add GraphQL mutation api for view change log"
**What is the problem?**
Currently, there is no explicitly way to confirm whether and when did user view the change log.

**Your solution**
Add GraphQL api to record the time the user viewed the change log.

[code]

[2020-04-08 09:00] byliuyang commented on #643
We pass in `entity.User` to the use case instead of `email` itself to easy changes.

[2020-04-08 09:04] kapillamba4 commented on #644
So this api will be called when user closes the changelog modal?

[2020-04-08 09:06] byliuyang commented on #644
@kapillamba4 I think should be when the user open the modal.

[2020-04-08 16:49] kapillamba4 opened #647 "[Refactor] Rename GetURLs method in url use case to GetURLsByUser"
**What is the problem?**
GraphQL resolver will pass user object instead of a pointer to url usecase

**Your solution**
Rename GetURLs method in url usecase to GetURLsByUser

[2020-04-09 00:12] #647 closed

[2020-04-09 08:19] byliuyang opened #649 "[Refactor] Move envconfig into app framework"
Current [envconfig](https://github.com/short-d/short/tree/master/backend/envconfig) in located in Short's repo. However, it's reusable across all microservices.

Define `EnvConfig` interface in [fw](https://github.com/short-d/app/tree/master/fw) and create implementation here: https://github.com/short-d/app/tree/master/modern

[2020-04-09 08:56] byliuyang opened #651 "[UX] Design UI for admin dashboard"

[2020-04-09 09:49] #200 closed

[2020-04-10 08:39] byliuyang commented on #260
https://github.com/short-d/short/tree/search

[2020-04-10 08:40] byliuyang commented on #651
<img width="1680" alt="Screen Shot 2020-04-10 at 1 38 08 AM" src="https://user-images.githubusercontent.com/3537801/78976992-33407200-7acc-11ea-8aab-30361e623c48.png">
https://github.com/short-d/short/tree/dashboard-temp

[2020-04-10 08:41] #651 closed

[2020-04-10 08:41] byliuyang commented on #651
Done.

[2020-04-10 08:42] byliuyang commented on #612
Here is template prototype I made: https://github.com/short-d/short/issues/651
Need your help to clean it up and productionize the code.

[2020-04-10 23:08] byliuyang commented on #260
Maybe also consider how to build our own Elasticsearch.

[2020-04-10 23:11] byliuyang commented on #237
https://www.elastic.co/elasticsearch/

[2020-04-10 23:11] byliuyang commented on #260
https://www.elastic.co/elasticsearch/

[2020-04-11 06:29] kapillamba4 commented on #613
Schema for user_change_log:
[code]

[2020-04-11 06:46] byliuyang commented on #613
`user_changelog_relation`

[2020-04-11 06:52] kapillamba4 commented on #613
Steps:
1. Create migration script for `user_changelog`
2. Create a repository for UserChangeLog with methods `GetLastViewedAt` and `UpdateLastViewedAt`.
3. Create UserChangeLogSQL struct in db package with methods `GetLastViewedAt` and `UpdateLastViewedAt`.
4. Write integration tests for UserChangeLogSQL.
5. Write UserChangeLog usecase.
6. Add UserChangeLogFake in the repository.
7. Write Unit Tes

[2020-04-11 07:06] byliuyang commented on #613
Here are some of the steps I came up:
1. Create SQL migration for `user_changelog` table.
2. Create `UserChangeLog` Repository with the following methods ( integration tests included ):
-  `GetLastViewedAt`
-  `UpdateLastViewedAt`
3. Add `ViewChangeLog` method to `ChangeLog` use case and update `GetLastViewedAt` ( may have to pass in `User`). No fake implementation is need. Must include `unit test

[2020-04-11 14:55] rohithbalaji123 opened #657 "[Doc] Add instructions to use tesing environment for devs"
This issue includes the following tasks,
- [ ] Come up with a usage policy for the [environment](testing.short-d.com).
- [ ] Update README in testing section or a new QA section.
- [ ] Update about it to the team in [#short](https://shortapp.slack.com/archives/CPA5GD6ET) channel. Preferably pin the message or add as description in [#testing](https://shortapp.slack.com/archives/C010ZAA8KL5) channel

[2020-04-11 16:03] rohithbalaji123 opened #658 "[BUG] Handle cases where totalPages"
**Describe the bug**
The `currentPageIdx` in `PageControl` component is not updated when `totalPages` prop is updated from the parent component. There is a possibility of a `totalPages` decreasing and if `currentPageIdx` is greater than the newly passed `totalPages` prop, it causes unexpected behavior.

**To Reproduce**
This is not in production yet. To effective reproduce this, create the compone

[2020-04-11 17:34] arberiii opened #659 "[Feature] Extend and add other units"
Extend to ms or add other units, such as storage (B, KB, MB, GB, TB, PB) and temperature ( C, F).

[2020-04-11 18:36] byliuyang commented on #546
Should also migrate down after test is finished. Sometimes, there are PRs having different DB scheme. This results in conflicts in db migration.

[2020-04-12 10:21] rohithbalaji123 opened #661 "[BUG] Refrain pageControl from triggering page change event on mount"
**Describe the bug**
The `pageControl` component triggers `onPageChanged` via `componentDidMount` method which makes the parent component's initial data setup run twice.

For example, in our scenario in UserShortLinkSection, we expect the page control to be mounted and rendered only when there are some data to be shown. So, initial data is already set up, by the time the pageContorl component is m

[2020-04-13 05:17] #661 closed

[2020-04-14 00:57] oatovar commented on #239
@byliuyang Should the user have the ability to mutate the short alias as well as the long link?

[2020-04-14 00:59] byliuyang commented on #239
@oatovar I think so.

[2020-04-14 16:02] rohithbalaji123 opened #663 "[BUG] Fix possible memory leak is Toast component's Unit Test"
**Describe the bug**
The jest timers are not cleared for the Toast component to close before the test ends.

**To Reproduce**
1. Run unit tests of Toast Component.

**Expected behavior**
All jest timers should be cleared.

**Screenshots**
<img width="663" alt="image" src="https://user-images.githubusercontent.com/18581705/79246612-0b1f8d00-7e97-11ea-9b6c-3e23dc07cf50.png">

[2020-04-14 18:17] #663 closed

[2020-04-15 16:35] #640 closed

[2020-04-18 16:18] rohithbalaji123 opened #673 "[Feature] Support pagination for user created Short Links"
**What is the problem?**
There exists an API to query for the complete list of user created short links. Since, over time, the number of short links created by an user will be substantially large, we would need to support pagination. With #193 , the UI for displaying the short links in a pagination will be complete.

**Your solution**
Support pagination in server-side to query only for the current

[2020-04-18 20:48] byliuyang commented on #649
Example PR: https://github.com/short-d/app/pull/71

[2020-04-25 07:25] byliuyang commented on #195
Done.

[2020-04-25 07:25] #195 closed

[2020-04-25 16:35] byliuyang opened #695 "[Feature] Add instrumentations code to all HTTP routes"
**What is the problem?**
There is no measurements on how many users tried to sign in the app using different account providers.

**Your solution**
Add [instrumentation code](https://github.com/short-d/short/tree/master/backend/app/usecase/instrumentation) to all [HTTP routes](https://github.com/short-d/short/tree/master/backend/app/adapter/routing) in order to bring observability to the team about

[2020-04-25 16:46] lucifercr07 commented on #695
@byliuyang Please assign this to me

[2020-04-26 02:51] oatovar opened #698 "[Refactor] Update URL's Create method name to CreateURL"
**Issue**
Currently, the [URLFake](https://github.com/short-d/short/blob/master/backend/app/usecase/repository/url_fake.go#L22) and [URLSql](https://github.com/short-d/short/blob/master/backend/app/adapter/db/url.go#L41) structs implement the URL interface which has a method named `Create`. This should be changed to `CreateURL` so that implementing structs cleary express what the function does.

*

[2020-04-26 03:00] byliuyang commented on #698
Thank you!

[2020-04-26 03:31] #193 closed

[2020-04-26 03:44] rohithbalaji123 commented on #193
@byliuyang I am wondering if we should fix column width of the tables.

![columnWidth](https://user-images.githubusercontent.com/18581705/80297149-44f96900-879e-11ea-8320-136e7f2495f4.gif)

[2020-04-26 03:49] byliuyang commented on #193
@rohithbalaji123 Let's open an new issue for it!

[2020-04-26 04:06] rohithbalaji123 opened #702 "[Refactor] [UI] Fix column widths in Favorites section"
**What is frustrating you?**
When traversing between pages, the column widths in favourites section changes depending on the length on long links making the alias column keep moving.

**Your solution**
Allot a percentage of table widths for each column to make sure the column remain in the same position irrespective of the length of the long links.

![columnWidth](https://user-images.githubusercon

[2020-04-27 01:30] Coteh commented on #702
@rohithbalaji123 Should there be any special rules for wrapping URLs? (e.g. should TLD names never be able to be broken up when the URL wraps to another line)

[2020-04-27 03:15] byliuyang opened #705 "[Security] Migrate from exposing auth token in URL to secure Cookie"
**What is the problem?**
Auth token are exposed in the URL when user signs in the website. This allows attacker to easily steal users' token as it can be send alone with HTTP requests through man-in-the-middle attack.

**Your solution**
Set auth token in the cookie of sign in callback route.

eg:

[code]

[2020-04-27 03:20] rohithbalaji123 commented on #702
@Coteh , I guess we can go with `word-break: break-all`, as readability for the long links are not our primary concern. Moreover, the links are still clickable for the user navigate to the page.
For reference: https://jsfiddle.net/6mn0L35r/2/

[2020-04-27 19:43] arberiii opened #707 "[BUG] Missing documentation for Datadog and feature toggle"
**Describe the bug**
The logs are sent to Datadog but there is no documentation for it. Also feature toggle doesn't work automatically

**To Reproduce**
1. Follow the steps from README

**Expected behavior**
A step by step and preferably more automatic setup.

**Screenshots**
If you follow the steps from README this is what you get.
![image](https://user-images.githubusercontent.com/8199285/804136

[2020-04-28 04:10] oatovar opened #711 "[Refactor] Check errors before using defer"
**Issue**
Upon querying the database, a defer statement is used within [userurl.go](https://github.com/short-d/short/blob/master/backend/app/adapter/db/userurl.go#L47) instead of immediately checking for an error.

**Your solution**
The error should instead be handled directly after calling `db.Query`. The deferral should happen after similar to the following example.
[code]

[2020-04-28 04:23] #711 closed

[2020-04-28 22:01] arberiii commented on #649
The envconfig pkg uses unit pkg, should we also move that one?

[2020-04-28 22:05] byliuyang commented on #649
@arberiii Yes, please. As an internal package of app framework. We may want to complete refactor app framework after you back to full strength!

[2020-04-29 20:22] byliuyang commented on #649
https://github.com/short-d/app/pull/80

[2020-04-29 20:58] Coteh opened #722 "[REFACTOR] [UI] $content-width SCSS variable not sensible for all screen sizes"
**What is frustrating you?**
The `$content-width` SCSS variable, found in `frontend/src/component/styles/dimension.scss` is set to `1200px` currently, which works for desktop, but does not make sense for mobile. Components affected are: `Header`, `Footer` (but it looks fine since it's centered and just text), `Section`, and `UserShortLinksSection`.

**Your solution**
Refactor so that the `$content

[2020-04-29 21:51] byliuyang commented on #722
You mean not responsive

[2020-04-29 21:59] #649 closed

[2020-04-29 22:00] Coteh commented on #722
Yes! Not responsive I mean. Thanks! 👍

On Apr 29, 2020, at 5:52 PM, Harry Liu <notifications@github.com<mailto:notifications@github.com>> wrote:

You mean not responsive

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub<https://github.com/short-d/short/issues/722#issuecomment-621484464>, or unsubscribe<https://github.com/notifications/unsubs

[2020-05-02 01:17] Coteh opened #728 "[Refactor] Generate random alias if empty is passed for alias from frontend"
**What is frustrating you?**
When you specify an empty string custom alias (currently impossible from the frontend but a custom form can be crafted to do this) and click "Create Short Link", it is passed as an empty string into the backend. This will end up producing a short link of empty string alias, which is undesired.

**Your solution**
The backend should interpret an empty string alias as a r

[2020-05-02 02:14] Coteh commented on #298
PR #507 fixes this.

[2020-05-02 02:14] #298 closed

[2020-05-02 03:08] byliuyang opened #729 "[Feature] Manage access control through authorizer"
**What is the problem?**
Currently, there is no way to restrict an user from accessing protected resources, such as updating the change log, disable malicious user account, disable malicious short link, edit short links, view Analytics, or manage user roles.

**Your solution**
Create authorizer to manage user roles and permissions. For permission modal, we use RBAC: role-based access control.

**A

[2020-05-02 03:20] byliuyang commented on #729
Here are some hints:

1) Discuss user roles DB table design under this issue.
1) Implement `UserRole` repository with DB integration tests.
1) Create `authoriztor` with only `CanCreateChange` for now ( unit tests included ).
1) Update [CreateChange](https://github.com/short-d/short/blob/master/backend/app/usecase/changelog/changelog.go#L29) interface and integrate it with `authorizer`.
1) Update `

[2020-05-02 18:40] byliuyang commented on #260
https://www.educative.io/courses/grokking-the-system-design-interview/xV9mMjj74gE

[2020-05-03 12:32] arberiii opened #736 "[Feature] Documentation for each backend package"
**What is the problem?**
There are a lot of golang packages and sometimes I'm not sure what is the role of that specific package.

**Your solution**
For each package, we have a doc.go file that has only comments explaining the function of that package.

[2020-05-03 13:53] byliuyang commented on #736
@arberiii I am sorry for not having enough documentation.

[2020-05-04 08:55] alldroll commented on #729
# DB storage schema proposal

Roles model tends to be high read, as there are a lot of cases when the knowledge about the user's permission is required. It means, that the proposed DB schema should satisfy the described requirements of efficiency and be space-efficient as well.

A user can have several roles at the time, so I would like to consider several designs approaches

## Roles as a bitmask

[2020-05-05 16:15] byliuyang opened #739 "[Refactor] Change ReCaptcha API body to a map"
**What is frustrating you?**
With manually concatenated string, it's error prone to add new query parameter to reCaptcha.

**Your solution**
Change the manually concatenated string to a map.

[2020-05-05 17:09] byliuyang commented on #729
I like `One-to-many model` because it provide DB admin readability. I recommend using `basic`, `security_specialist`, `admin`.

[2020-05-05 17:14] byliuyang commented on #729
The bitwise operations are cool ideas though!

[2020-05-06 19:12] #575 closed

[2020-05-06 21:04] Coteh opened #743 "[BUG] Aliases with '#' character don't work"
**Describe the bug**
If a short alias contains '#' character, then everything after the character is discarded when short link request is sent to server.

If short alias <word 1>#<word 2> is requested, then long link for <word 1> will be returned (if it exists) with "#<word 2>" appended to long link URL. If no long link for <word 1> exists then 404 will be returned.

**To Reproduce**
1. Create a s

[2020-05-06 21:18] Coteh opened #744 "[Refactor] Disallow special URL characters as aliases"
**What is frustrating you?**
As observed in #743, '#' characters should not be allowed as a character to use within an alias. I believe it also doesn't make too much sense to allow other special URL characters such as '?', ',', '=', and ';' either. I created this issue to allow for discussion.

**Your solution**
Create a function that checks if any of these characters are present in custom alias (

[2020-05-06 21:21] Coteh commented on #728
Reducing scope of this issue, will continue in #744.

[2020-05-06 21:34] Coteh opened #745 "[BUG] After submitting a short link, cursor on long link and alias text fields moves to end of input after typing"
**Describe the bug**
If you open the homepage and enter a new short link, then you type one character in the middle (or beginning) of either long link or alias text fields, then the cursor will move to the end of the text field automatically.

**To Reproduce**
1. Create a short link using long link (and optionally, custom alias) of your choice
2. After it's successfully added, type anywhere before

[2020-05-06 21:59] TomasJuocepis opened #746 "[Feature] Ability to preview actual url"
**What is the problem?**
As a person who receives a short-d url, I would like to be able to go to short-d.com and find out the final url by providing the shortened url. Even better if I can also modify the url to control whether I get a preview page or get redirected automatically.

**Your solution**
Example:
I get a shortened link from someone:
short-d.com/r/check-this-out
Primary solution:
I don

[2020-05-06 22:03] Coteh commented on #746
IIRC short link previews are already on the roadmap, but it would be cool if user can configure whether they want all short links to go to preview or to be redirected automatically.

On May 6, 2020, at 5:59 PM, Tomas Juocepis <notifications@github.com<mailto:notifications@github.com>> wrote:

What is the problem?
As a person who receives a short-d url, I would like to be able to go to short-d.com<

[2020-05-06 22:04] TomasJuocepis commented on #746
My bad, accidentally clicked closed issue. Re-opened again now.

[2020-05-06 22:18] byliuyang commented on #746
Hi @TomasJuocepis , we have those features on the roadmap. I already prototyped the address bar automate complete & custom preview feature. Please let me know whether you want to pair with me to get them delivered!
<img width="1102" alt="Screen Shot 2020-05-06 at 3 17 03 PM" src="https://user-images.githubusercontent.com/3537801/81233963-abeffc80-8fac-11ea-8576-8eb59f04d236.png">

[2020-05-07 04:59] rohithbalaji123 opened #747 "[BUG] Creating short links with empty alias throws unkown error at times"
**Describe the bug**
When given empty alias, the application shows unknown error when the key generation service tries to allot the alias which already exists in the user created alias list.

**To Reproduce**
1. Go to https://staging-short.com and paste a random link in the Long Link text box.
2. Without filling any values for alias, try creating the link for 3 to 4 times.
3. Look for the pattern

[2020-05-07 17:41] #728 closed

[2020-05-08 19:43] Coteh commented on #747
I just tried reproducing it on my end, and I get `Alias already exists` as expected:
![image](https://user-images.githubusercontent.com/3276350/81442610-ea6af000-9141-11ea-834d-1558d3a6e7ef.png)

I'm interested in working on the other part of the issue though. It seems like we can add a check for `IsAliasExist` within `createURLWithAutoAlias` and cycle through that THRESHOLD number of times or unt

[2020-05-08 19:44] Coteh commented on #747
Also, should THRESHOLD be an environment variable with a sensible default value like 3?

[2020-05-08 19:46] Coteh commented on #658
Please see #748. A better solution has been proposed by @byliuyang to use cursor-based pagination instead of the current setup which relies on a total number of pages value.

[2020-05-08 20:04] byliuyang commented on #747
@Coteh Need to think about this.

[2020-05-08 21:19] Coteh opened #753 "[BUG] Potentially broken test in urlcreator_test"
Wasn't sure whether to file this as "Refactor" or "BUG", feel free to refile it if needed. Or close it if there's a misunderstanding. Thanks.

**Describe the bug**
"alias exists" test in `urlcreator_test.go` still passes even after the URL entry in test case's `urlMap` is removed.

**To Reproduce**
1. In "alias exists" test case in `urlcreator_test.go`, replace:
[code]
with
[code]

**Expected beha

[2020-05-09 17:30] alldroll opened #755 "[Refactor] Add foreign keys for `user` referenced tables."
**What is frustrating you?**
There are a lot of DB tables that hold the `user_id` reference which leads to data integrity violation, as anytime a `user` record can be deleted or modified.

**Your solution**
After the migration process (primary key user_email -> user_id) for `user` table to be completed, it requires adding foreign key constraints in referenced tables.

[2020-05-10 08:36] #613 closed

[2020-05-10 08:38] #644 closed

[2020-05-10 17:37] #729 closed

[2020-05-11 06:28] byliuyang commented on #192
Migrate from email to user ID.

[2020-05-11 07:31] byliuyang opened #759 "[Refactor] Update the outdated feature toggle code snippet in README."

[2020-05-11 07:36] byliuyang opened #760 "[Refactor] Move detailed configurations into separate files"
**What is frustrating you?**
There is too much content in the README. Most of them is not related to the first time environment setup. This is driving away developers who are interested in trying out Short on their local machine.

**Your solution**
Have only one type of sign in setup in `Getting Started` section.  Move the individual setups to new markdown files.

[2020-05-11 14:15] #760 closed

[2020-05-13 06:02] kapillamba4 opened #770 "[Refactor] Rename ShortGraphQLApi to ShortLinkGraphQLApi"
**What is frustrating you?**
Integrating ChangeLog GraphQL methods within ShortGraphQLApi will violate interface segregation principle.

**Your solution**
- [ ] Rename ShortGraphQLApi to ShortLinkGraphQLApi
- [ ] Move methods getErrorCodes and gqlErrorToCode to new class ShortGraphQLApi

**Additional context**
In bulky interfaces, there are too many operations, but for most objects, these operatio

[2020-05-13 13:11] arberiii commented on #260
During my research I found those articles useful:
- The above link mention (Designing Twitter Search)
- https://www.elastic.co/blog/found-elasticsearch-from-the-bottom-up
- https://www.elastic.co/blog/found-sizing-elasticsearch
- https://www.elastic.co/blog/found-elasticsearch-top-down

[2020-05-13 18:20] #770 closed

[2020-05-14 04:39] #192 closed

[2020-05-14 17:01] arberiii commented on #736
This can be helpful https://github.com/short-d/short/blob/master/doc/clean-architecture/short-backend.jpg .
It would be nice to add [example](https://blog.golang.org/examples)

[2020-05-14 17:14] byliuyang commented on #736
@arberiii Yes! We should add examples. We have examples in the kgs: https://github.com/short-d/kgs/blob/master/app/usecase/keys/producer_test.go

[2020-05-15 15:37] byliuyang commented on #566
Done.

[2020-05-15 15:37] #566 closed

[2020-05-15 15:37] byliuyang commented on #643
Done.

[2020-05-15 23:03] #643 closed

[2020-05-15 23:26] byliuyang opened #789 "[Refactor] Remove the pointer from the cli's callback signature"
As mentioned at https://github.com/short-d/short/pull/788#discussion_r426064168, cli.Command is interface. The `*` in the callback should be removed from the [app framework](http://short-d.com/r/fw).

[2020-05-16 00:22] #789 closed

[2020-05-16 18:10] byliuyang commented on #260
Discussed offline. Due to the complexity of the search engine, let's simplify and focus on implement concurrent search for users and urls for now.

[2020-05-16 18:24] byliuyang commented on #260
# To be done now
1) Build the simple search API for user to search their short links

# Future Plan
2) Extend the search API to support searching both short link & users concurrently
3) Extract out search into a  generic cloud service.

[2020-05-17 04:41] oatovar opened #790 "[Feature] Disable reCaptcha in Dev Environment"
**What is the problem?**
Testing any authenticated content in the dev environment require updating recaptcha to always return true. When testing in a dev environment recaptcha, should automatically be disabled so that contributors do not modify this part of the code during local testing.

**Your solution**
Enable/Disable features depending on the environment of the application.

[2020-05-17 05:09] oatovar commented on #239
So while testing the changes I found that reusing `URLInput` as previously suggested doesn't allow for updates to only update the alias. The OriginalURL parameter is always required when updating a short link. I'll be posting my new suggested schema changes to gracefully handle updates to all portions of a short link (user url).

[2020-05-17 05:40] byliuyang commented on #239
@oatovar I checked the schema. It forces us to provide original URL. Looking forwards for your proposal.

[2020-05-17 07:27] oatovar commented on #239
So for the schema I believe it might be worth the tradeoff of making a new input type that is used by `updateURL` like so.

[code]

While it doesn't reuse an exisiting type, this does remove the need to include the OriginalURL in every updateURL mutating request.

[2020-05-17 21:32] byliuyang commented on #239
@oatovar It's seems that Facebook officially used only one input type: https://graphql.org/graphql-js/mutations-and-input-types/

[2020-05-18 02:10] oatovar commented on #239
@byliuyang Thank you for the referenced example! In the example, the application doesn't verify if the content and author is ommited since the arugments are optional. In Short's case, the original url is always required during creation, so having one input where it's both optional for both creation and mutation would be misleading when using the schema. We could have one single input type where al

[2020-05-19 16:05] arberiii opened #794 "[Refactor] Rename all URL to ShortLink"
**What is frustrating you?**
The URL term is broad and vague, therefore it can be confusing when designing and developing but also for users.

**Your solution**
Rename the URL term to Short Link.

[2020-05-20 12:55] arberiii commented on #753
Hi Coteh, thank you for finding and reporting this!

I was able to trace the bug and apparently here is failing
https://github.com/short-d/short/blob/bc5d6e75c39305d0cb76a2ee7809336b401bfead/backend/app/usecase/url/urlcreator.go#L62-L64
because the longLink in that test case is empty. If you add in the test case also the url then it behaves as expected. So this bug can be fixed by changing the tes

[2020-05-21 00:44] byliuyang commented on #239
@oatovar It's a hard a decision. We can go with 1 input for now and look back in the future.

[2020-05-21 19:08] arberiii opened #803 "[Refactor] Check error types in tests."
**What is frustrating you?**
Test cases that expect errors usually pass if it has any error, which is not correct if the error is different from what is expected.
For example:
Test case struct has the field:
https://github.com/short-d/short/blob/e506d994fb6b8225e7b9f714931acb3d045b5547/backend/app/usecase/url/urlcreator_test.go#L38 Then checking the expected behavior is done in this way:
https://g

[2020-05-22 20:35] #702 closed

[2020-05-23 08:04] #698 closed

[2020-05-23 16:23] kapillamba4 opened #809 "[Feature] Implement gRPC API for Social Media Sharing Customization"
**What is the problem?**
All the short links shared on social media platforms have the same summary card:
![Screenshot from 2020-05-20 21-38-56](https://user-images.githubusercontent.com/20877996/82735452-8bab9600-9d3f-11ea-89fa-60886f12eaae.png)

**Your solution**
Enable marketers to customize the summary card of the short links they shared on Facebook, Twitter, and LinkedIn.

**Additional contex

[2020-05-26 04:24] rohithbalaji123 opened #816 "[Feature] Add loading page component"
**What is the problem?**
When visiting a page whose availability is determined from the server state, there is a time lag before the response is shown to the user.

**Your solution**
We can show an intermediate loading page to let users know that we have received the request and the server is validating the page access request.

**Alternatives considered**
Currently, an empty page is shown. If hav

[2020-05-26 05:05] byliuyang commented on #816
I wonder why did it take so long to load. Is it purely network latency? We can use Chrome profile tool to find out what's exactly going on here.

Both loader and server side rendering sound good to me.

[2020-05-26 05:14] rohithbalaji123 commented on #816
@byliuyang

[2020-05-27 19:32] arberiii commented on #659
The unit package is no longer part of the short repo, this issue should move to app repo

[2020-05-27 19:32] #659 closed

[2020-05-29 04:46] kapillamba4 opened #820 "[BUG] Some of the integration tests are failing with verbose flag"
**Describe the bug**
Some of the backend integration tests are failing on master branch.

**To Reproduce**
1. Run `go test -v -tags=integration ./...` in backend folder.

**Expected behavior**
All integration tests should pass.

**Screenshots**
![image](https://user-images.githubusercontent.com/20877996/83222162-464ef480-a195-11ea-868b-414de8d627d8.png)
![image](https://user-images.githubuserconte

[2020-05-31 21:40] Coteh opened #823 "[Refactor] Migrate switch statement for error type checking to user errors.As instead"
**What is frustrating you?**
When short was first created, error types were checked using switch statement. Since then, golang has added two new constructs to work with errors: `Is` and `As`. Can be read about here:
https://blog.golang.org/go1.13-errors

Error type checking is still done the old way in the following three instances:
- `authmutation.go` [1](https://github.com/short-d/short/blob/a90

[2020-06-01 04:12] kapillamba4 opened #824 "[Refactor] Integration tests give error because of null values in primary key on migrate up or migrate down"
**What is frustrating you?**
Two errors:
[code]
[code]
**Your solution**
Remove primary key constraint from user_email column in user_url_relation table and email column in user_changelog table on migrate up and migrate down.

[2020-06-01 05:08] #820 closed

[2020-06-04 04:41] rohithbalaji123 opened #833 "[Feature] Feature Toggle for dynamic decision making"
**What is the problem?**
Currently, for the components dependent on feature toggle, decision to render is made when it is mounted and remains in the state until the page refreshes or it's parent component remounts. Our application being a single page app, there are cases where the components rendering status should change dynamically without refreshing the page.

**Your solution**
We should ideate

[2020-06-04 16:46] #260 closed

[2020-06-05 03:39] oatovar opened #840 "[Refactor] Remove business logic from gqlapi resolver"
**What is frustrating you?**
The gqlapi resolver uses a singular url input with all fields as optional. Since the create and update functions differ in optional field requirements, the resolver has to format the inputs so that it fits their expected inputs. Thus business logic exists within the resolver which should exist within each use case.

**Your solution**
Update Creator and Updater to do th

[2020-06-05 20:18] #794 closed

[2020-06-07 16:31] #743 closed

[2020-06-08 01:06] #571 closed

[2020-06-08 01:08] byliuyang commented on #803
https://github.com/short-d/short/pull/796/files#r436382369

[2020-06-08 01:29] #753 closed

[2020-06-08 18:54] Coteh commented on #840
I'm interested in taking this once #798 goes in.

[2020-06-09 08:46] byliuyang commented on #840
@Coteh Sounds good!

[2020-06-12 00:57] Coteh commented on #739
After some quick digging, seems like the `siteverify` endpoint only accepts `application/x-www-form-urlencoded` input. Meaning that a concatenated url-encoded string should be generated by iterating through the keys of the map.

I can take this task. I am not sure if a helper method that does something like I suggested already exists. If it does, then I'll use that. Otherwise I can do it within th

[2020-06-13 04:13] byliuyang commented on #816
@rohithbalaji123 Oh! Sorry for missing that.

[2020-06-13 04:14] byliuyang commented on #739
@Coteh Thanks!

[2020-06-13 23:21] Coteh commented on #816
Interested in taking this!

[2020-06-14 01:39] byliuyang opened #857 "[BUG] View all updates has unequal up and down margin"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
1. Open change log modal at `https://short-d.com`.
<img width="733" alt="Screen Shot 2020-06-13 at 6 36 15 PM" src="https://user-images.githubusercontent.com/3537801/84582769-16167100-ada5-11ea-8fd0-bfb322496fe9.png">

**Expected behavior**
The button should have equal up & down margin.

[2020-06-14 05:10] #739 closed

[2020-06-14 05:10] byliuyang opened #858 "[Feature] Support rendering markdown for change summary"
**What is the problem?**
Change summary are rendered as raw string.

**Your solution**
Use [marked](https://github.com/markedjs/marked) to parse change summary and render it as markdown. Create `MarkdownView` component to render markdown so that it can be reused in the future.

<img width="609" alt="Screen Shot 2020-06-13 at 10 05 44 PM" src="https://user-images.githubusercontent.com/3537801/84585

[2020-06-14 05:12] byliuyang commented on #858
Please add unit tests

[2020-06-14 07:50] byliuyang commented on #612
![Changelog Screen](https://user-images.githubusercontent.com/3537801/84588045-0022a380-add9-11ea-8717-1eafe1631bcf.jpg)

[2020-06-14 07:52] byliuyang commented on #612
![Changelog Screen](https://user-images.githubusercontent.com/3537801/84588095-4a0b8980-add9-11ea-9881-af702297951a.jpg)

[2020-06-14 08:22] byliuyang commented on #612
![Changelog Screen - Create Change](https://user-images.githubusercontent.com/3537801/84588581-80e39e80-addd-11ea-8b90-d561af6f2bf6.jpg)

[2020-06-14 21:05] rohithbalaji123 opened #860 "[Refactor] Refactor graphQL related schemas into a singe source"
**What is frustrating you?**
There are multiple places where the GraphQL schema is being reused in services like `ChangeLogGraphQLApi`, `ShortLinkGraphQLApi` and `UrlService`. When there is a change in the server graphQL schema, it requires changes in all these files which makes it harder to maintain.

**Your solution**
Create a single source for all these schema and make the service import and us

[2020-06-15 04:15] byliuyang commented on #824
Fixed by https://github.com/short-d/app/pull/102

[2020-06-15 04:15] #824 closed

[2020-06-15 04:17] #860 closed

[2020-06-15 05:15] rohithbalaji123 opened #863 "[Refactor] Rename URL into ShortLink in client side components"
**What is frustrating you?**
Currently, in all the server side packages `URL` has been renamed to `ShortLink`, but there are few packages in client side which aren't renamed. Also, in some places, `longLink` is named as `originalURL`.

**Your solution**
Rename `URL` into `shortLink` and `originalURL` into `longLink` in all of the client side components.

[2020-06-16 17:23] byliuyang commented on #420
Discussed on Slack. As a team, we decided to leave this piece of the code to the bottom of the file. Closing this issue.

[2020-06-16 17:23] #420 closed

[2020-06-16 18:25] arberiii opened #865 "[Feature] Handle errors of Search API"
**What is the problem?**
In the first version of [Search API ](https://github.com/short-d/short/tree/master/backend/app/usecase/search)we are not handling errors and for now, we are just logging them.

**Your solution**
Handle errors correctly and ideally use [instrumentation code](https://github.com/short-d/short/blob/master/backend/app/usecase/instrumentation/instrumentation.go) so that we have

[2020-06-16 19:11] arberiii opened #866 "[Refactor] Simplify searchShortLink function"
**What is frustrating you?**
Function searchShortLink is hard to read, especially the for loop.
https://github.com/short-d/short/blob/284d1d6ae7c59549409860bda7c00d3abe9dd703/backend/app/usecase/search/search.go#L68
**Your solution**
Refactor this function appropriately.

[2020-06-20 07:22] arberiii opened #869 "[BUG] Runtime error: Index out of range when orders length is smaller than resources in Search"
**Describe the bug**
Application crashes when there are fewer orders then resources when the Search function is called. This happens because of this code (written by me):
https://github.com/short-d/short/blob/0b0b8a0114e92540a143f5ee43d81caca527e0ae/backend/app/usecase/search/search.go#L34-L38

**To Reproduce**
1. Create an instance of type Search
2. Call Search function on it, with Filter paramet

[2020-06-20 18:19] #869 closed

[2020-06-22 08:00] arberiii opened #872 "[Refactor] Reorganize the routing package"
**What is frustrating you?**
The [routing package](https://github.com/short-d/short/tree/master/backend/app/adapter/routing) has become a bit confusing as it has a lot of information and it needs reorganization.

**Your solution**
Reorganize the package! Also, the routing package should respect the single-responsibility principle, therefore, the handles should be a separate package.

[2020-06-23 10:48] arberiii opened #877 "[Refactor] Update README table of contents and links"
**What is frustrating you?**
The table of content is not up to date for example section 4.ii Staging doesn't exist as well as Production. Also, links in https://github.com/short-d/short#dependent-projects either are broken or changed, so this needs to updated also.

**Your solution**
Update the table of contents and replace links.

[2020-06-24 10:55] rohithbalaji123 opened #879 "[Feature] Make Filter structure in Search package more extendible"
### What is the problem?
There is an inherent coupling between Resource and Order structures in [Filter](https://github.com/short-d/short/blob/master/backend/app/usecase/search/filter.go) and it is quite difficult to extend when we try to add more resources or order by classes. That is., there is a requirement for every Resource to support each Order bys which will not be the case at all times.

#

[2020-06-24 16:21] byliuyang commented on #879
@rohithbalaji123
1) I don't think all resources has to support the same order. When can do unchanged order for those not supported.
2) We don't have generics support in Go 1. Waiting for Go 2. It's already in experimentation stage

[2020-06-24 18:29] rohithbalaji123 commented on #879
@byliuyang Yes, we can do unchanged order for unsupported resource. My concern is, what should `ArrangeNewResource` method's implementation be in [CreatedTime](https://github.com/short-d/short/blob/master/backend/app/usecase/search/order/created_time.go#L13) structure when `NewResource` doesn't have a column called `createdAt`?

[2020-06-24 18:42] byliuyang commented on #879
@rohithbalaji123 It doesn’t do anything? Is this avoidable?

[2020-06-24 18:47] rohithbalaji123 commented on #879
@byliuyang , I am not sure how to avoid it. When we add more and more resources and Order By implementations, there will be a lot combinations where the method implementations will be empty.

[2020-06-24 19:59] rohithbalaji123 opened #880 "[Refactor] Consolidate all similar error actions into a single error type"
**What is frustrating you?**
The number of actions in [reducers](https://github.com/short-d/short/blob/master/frontend/src/state/reducers.ts) is increasing as and when a new feature is added. There are a lot of very similar actions like `RAISE_CREATE_SHORT_LINK_ERROR`, `RAISE_GET_USER_SHORT_LINKS_ERROR`, `RAISE_GET_CHANGELOG_ERROR` and if we follow the same pattern, there will be many more for eac

[2020-06-25 07:16] byliuyang commented on #880
This is a tech debt. We, as a team, will have to figure out a solution for this.

[2020-06-25 09:30] arberiii commented on #879
We can also reverse things here, so each resource implements each order, and in case that an implementation is not possible we keep the slice unchanged. So we can have a resource type []entity.ShortLink which implements all the order types

[2020-06-28 02:03] #857 closed

[2020-06-28 10:50] rohithbalaji123 opened #904 "[Refactor]"
**What is frustrating you?**
The `catch` block of most Promises have multiple predicates and the errors are handled in different ways in different services.
For eg: The lines [here](https://github.com/short-d/short/blob/master/frontend/src/service/Url.service.ts#L71) and [here](https://github.com/short-d/short/blob/master/frontend/src/service/ShortLink.service.ts#L30) handle the error in the servi

[2020-06-29 11:40] #872 closed

[2020-07-01 15:31] #877 closed

[2020-07-01 23:08] byliuyang commented on #840
[code]
This is the currently what I did to solve this problem! Hope this helps!

[2020-07-01 23:50] #823 closed

[2020-07-02 06:26] arberiii opened #922 "[Refactor] Update user short link relation in Usecase"
**What is frustrating you?**
When updating the alias of a short link, the relation of user short link is updated only because they are joint in postgres database but it is not updated in updater usecase
https://github.com/short-d/short/blob/b945aac5192b0f4bb674fd6dfdbdb7d7b1f05fd3/backend/app/usecase/shortlink/updater.go#L80-L81

**Your solution**
Update user short link relation in Usecase

[2020-07-02 09:21] arberiii commented on #790
I second this. There are also other parts that I think needed to be modified for Dev Environment.

Do you have any solution to this in mind? I was thinking to create a Mode env variable which in case of Dev disables reCaptcha and other parts.

[2020-07-02 09:35] byliuyang commented on #790
Please check this out: https://github.com/short-d/short/blob/master/backend/dep/provider/feature.go

[2020-07-02 12:42] Coteh commented on #790
I think this is a good idea as well! I also find myself having to comment out reCaptcha when testing, often enough that I even have a special `git stash` entry that I apply which will automatically comment out that section. 😛

So should we have a feature for `recaptcha`, and have this always enabled in dynamic decision maker but for the static decision maker it can be hardcoded to return false? I'

[2020-07-02 16:59] byliuyang commented on #790
@Coteh This is a good idea. I recommend just injecting a fake recaptcha service for local development. It doesn't make sense logically for dynamic feature decision maker to have hard coded value.

[2020-07-02 19:06] byliuyang commented on #922
Huh, good question. Not sure whether we have to manually do this.

[2020-07-05 04:26] Tlac opened #929 "[Feature] Add migration and SQL files for Incident and Progress data model"
**What is the problem?**
We need to add migration and SQL for the Incident and Progress data model

![image](https://user-images.githubusercontent.com/17193168/86525412-c7647000-be54-11ea-8627-45ac347cc1c1.png)

**Your solution**
I will add migration and SQL files for the Incident and Progress data model based on our DB Schema

[2020-07-06 03:03] #790 closed

[2020-07-06 15:20] arberiii commented on #695
HTTP routes that don't have instrumentations are sign-in routes, file serving, and directory serving(swagger). Should we add instrumentation to those or close the issue?

[2020-07-07 04:31] #744 closed

[2020-07-07 09:04] arberiii commented on #840
@byliuyang I think this issue is about ShortLinkInput
![image](https://user-images.githubusercontent.com/8199285/86754870-80879d80-c041-11ea-8919-bfd90ae270d0.png)

[2020-07-07 09:50] byliuyang commented on #840
@arberiii Yes. The example is for feedback widget. Those definitions should be moved into entity package.

[2020-07-07 16:33] #929 closed

[2020-07-11 23:12] Coteh opened #950 "[Refactor] Consider adding custom error type for failed auto alias"
**What is frustrating you?**
In `CreateShortLink`, if auto alias generation fails, error is thrown to API consumer. This can expose more details than necessary to API caller and could risk API being attacked by hackers.

**Your solution**
Add a new error type to use case layer that signifies to API caller that short link creation failed due to error generating alias, without revealing any informat

[2020-07-12 22:50] Coteh opened #954 "[Feature] Add UI components to storybook"
Add storybook items for the various UI components we have within short.

| Component        | Status |
| ------------- | ------------- |
| Button | Completed (https://github.com/short-d/short/pull/943) |
| ChangeLogModal | Not Started |
| Drawer | Not Started |
| Icon | Not Started |
| MarkdownViewer | Not Started |
| Modal | Not Started |
| Navigation | Not Started |
| Notice | Not Started |
| Pa

[2020-07-13 12:00] hemachandarv commented on #866
@arberiii Would this be a `good first issue`? I'd like to work on this, if it hasn't been done already.

[2020-07-13 12:21] arberiii commented on #866
Yes, you can work on this! Please let me know if you have any trouble with the setup or anything else.

[2020-07-13 12:45] hemachandarv commented on #866
Cool, I'll start working!

[2020-07-14 01:10] Coteh opened #957 "[BUG] GraphQL error extensions property undefined if long link is null"
**Describe the bug**
Browser complains about `graphQLError.extensions` property being undefined if a null long link is attempted to be converted to string by user short links section. This seems to be because the error response is assumed to contain the `extensions` field.

**To Reproduce**
1. Change any short link's long link to `null`
2. Set `user-short-links-section` feature to `true` in `app/u

[2020-07-15 21:03] Coteh opened #958 "[Refactor] Use eventbus to propagate short link update to user short link repo"
**What is frustrating you?**
When a user updates a short link in production, the update will automatically be reflected to the user short link table within PostgreSQL due to the `ON UPDATE CASCADE` trigger. Within unit tests however, in particular the `updater_test` suite, any tests that involve checking the user short link repository will not be reliable and may fail, due to the fact that the fak

[2020-07-16 19:18] #840 closed

[2020-07-16 19:30] Coteh opened #959 "[Refactor] Use ptr.String to pass test case strings directly into test cases"
**What is frustrating you?**
Test case strings should be inserted directly into test cases if possible, but [due to a restriction in the Golang spec](https://golang.org/ref/spec#Address_operators), string literals cannot have its address taken directly.

**Your solution**
In #938, `ptr.String` method was introduced to facilitate getting address out of string literal in a clean way. Update all test

[2020-07-16 19:32] Coteh opened #960 "[Refactor] Toggle should use CSS module"
**What is frustrating you?**
`Toggle` component does not make use of CSS modules.

**Your solution**
`Toggle` should have a corresponding CSS module.

[2020-07-16 20:11] byliuyang commented on #960
Please follow this for the refactor: https://github.com/short-d/short/blob/master/frontend/src/component/ui/Button.tsx

[2020-07-17 23:13] Coteh opened #963 "[Feature] Add styling to Toggle component and add Storybook page"
PR #962 provides the bare minimum necessary to make `Toggle` renderable in Storybook with CSS modules. This issue is to add styles to `Toggle`, just like with `Button` (refer to its storybook). Colors and shadows can be added, and other suitable properties can be considered.

Also, add a storybook page for `Toggle` component. Make two separate PRs, one for the styles, ~one for the storybook page~

[2020-07-18 02:33] #960 closed

[2020-07-18 07:50] bhautikbharadava commented on #863
Is this still open.? If yes , can i work on this?

[2020-07-18 07:55] byliuyang commented on #863
@bhautikbharadava Yes, please!

[2020-07-18 08:51] #809 closed

[2020-07-20 16:44] arberiii commented on #958
This issue is the same as [issue 922](https://github.com/short-d/short/issues/922), but this is way more detailed therefore I'm closing the other one.

I like the solution with the short-d/evenbus, however, I'm not sure how reliable it is. I think we need to test it before using it here.

[2020-07-20 16:46] arberiii commented on #922
A more detailed dissucion in [issue #958](https://github.com/short-d/short/issues/958).

[2020-07-20 16:46] #922 closed

[2020-07-21 14:55] hemachandarv opened #970 "[Refactor] Search API Request & Response"
**What is frustrating you?**
Clients of Search API cannot determine directly whether the returned link is matched for Short (or) Long link. Also, clients do not have control over the type of links searched for a particular request.

**Your solution**
Accept a match-type parameter (Short/Long/All) in the request and return the matched links in the response as separate arrays (ShortLinkMatches / Lon

[2020-07-22 00:06] Tlac opened #971 "[Feature] Add Incident and Progress repos"
**What is the problem?**
We need to implement Incident and Progress repositories.
![image](https://user-images.githubusercontent.com/17193168/88119183-a9ee1080-cb8d-11ea-8dec-f0dbb1ac6dfe.png)

**Your solution**
I will add the implementation for the Incident and Progress data model based on view status diagram.

[2020-07-22 00:33] byliuyang commented on #970
I thought this is by design so that the backend can change the algorithm at any time😲

[2020-07-22 10:17] hemachandarv commented on #970
I'm not sure I understand what you are saying. Do you think `type` filter shouldn't be exposed?

[2020-07-22 10:20] byliuyang commented on #970
@hemachandarv I see what you mean. I think it is exposed. Is it not?

[2020-07-22 10:27] hemachandarv commented on #970
@byliuyang I could see there is a param for the resource type. I don't see one for the match type (do we match the keywords in the short-links (or) the long-links?). Currently the app does both and ranks them accordingly.

I'm thinking this depends on the use-cases for which the Search is exposed. Do you think we should let the client provide the type of links to match the keywords on?

[2020-07-22 17:17] byliuyang commented on #970
My main concern is that each attribute has unique way to be ranked. If we exposed, how are we going to expose ranking logic? Or we can abstract out search layer into a library for additional use cases? Could you please draw some UMLs or explain sample exact use cases? I can't just imagine the use cases themselves without knowing what they are. Thanks!

[2020-07-22 21:36] byliuyang commented on #970
The ranking param & code are in pair.

[2020-07-23 10:36] hemachandarv commented on #970
I completely agree that each attribute has unique way to be ranked. For now, I see we allow link search only, based on the provided keywords. From what I see in the code, I could think of an use-case where a client wants to get links for the keywords that are matched only in short-link. However, the application returns matches from the long-links as well. This could become an issue if there are no

[2020-07-23 18:50] byliuyang commented on #970
@hemachandarv That's how we made it now.  I think it good for now. We are explaining to make it a generic search engine moving forwards.

[2020-07-23 19:05] byliuyang commented on #970
@hemachandarv I recommend paste the proposed UML or API definition here so that we can look it up together.

[2020-07-23 22:11] byliuyang commented on #970
@hemachandarv How about this. Let's expose the API to allow the client to decide what fields we want to be sorted on. If nothing is specified, by default, we sort on both fields.

[2020-07-24 23:29] #199 closed

[2020-07-24 23:29] #236 closed

[2020-07-24 23:29] #246 closed

[2020-07-24 23:51] #348 closed

[2020-07-24 23:51] byliuyang commented on #971
Closing for now due to priority shift.

[2020-07-24 23:51] #971 closed

[2020-07-24 23:53] byliuyang commented on #755
Done.

[2020-07-24 23:53] #755 closed

[2020-07-24 23:58] #261 closed

[2020-07-24 23:59] byliuyang commented on #370
Not crashing all the time anymore. Closing this issue.

[2020-07-24 23:59] #370 closed

[2020-07-25 00:00] byliuyang commented on #482
Let's disable ReCaptcha for Chinese users.

[2020-07-25 00:00] byliuyang commented on #521
Done.

[2020-07-25 00:00] #521 closed

[2020-07-25 00:02] byliuyang commented on #736
Instead of adding documentation to all packages, let's draw core architecture diagrams to help developer clear their confusions.

[2020-07-25 00:04] byliuyang commented on #745
Not reproducible anymore.

[2020-07-25 00:04] #745 closed

[2020-07-25 00:06] #736 closed

[2020-07-25 00:08] byliuyang commented on #858
Done.

[2020-07-25 00:08] #858 closed

[2020-07-25 07:06] #614 closed

[2020-07-26 15:33] kapillamba4 opened #974 "[Feature] Serve custom meta tags for the UI when users visits /r/:alias"
**What is the problem?**
All the short links shared on social media platforms have the same summary card:
![Screenshot from 2020-05-20 21-38-56](https://user-images.githubusercontent.com/20877996/82735452-8bab9600-9d3f-11ea-89fa-60886f12eaae.png)

**Your solution**
Enable marketers to customize the summary card of the short links they shared on Facebook, Twitter, and LinkedIn.

**Additional contex

[2020-07-27 08:04] byliuyang opened #977 "[Refactor] Replace mustParseTime with must.Time across the codebase"
**What is frustrating you?**
The existing tests use [mustParseTime](https://github.com/short-d/short/blob/master/backend/app/adapter/sqldb/main_test.go#L54) helper to convert human readable time in the test case to help test readers understand the test case. However, it does NOT inherently support returning `Time pointer`, preventing time string being directly embed into the test case. https://git

[2020-07-28 02:21] #235 closed

[2020-07-28 21:05] byliuyang commented on #590
Done.

[2020-07-28 21:05] #590 closed

[2020-07-29 22:12] arberiii commented on #237
Should we close this issue since "Add GraphQL API to update the mutated short links" is done, and the part with React is present as [issue #240](https://github.com/short-d/short/issues/240)?

[2020-07-29 23:11] Coteh commented on #963
Toggle was added to storybook in PR #966, going to update the text above to reflect this.

[2020-07-29 23:31] byliuyang commented on #963
Done.

[2020-07-29 23:31] #963 closed

[2020-07-29 23:42] byliuyang commented on #237
Delete short link API is not done yet.

[2020-07-30 07:05] #977 closed

[2020-07-30 21:40] arberiii commented on #623
This issue is fixed! The error message is changed at [PR 638](https://github.com/short-d/short/pull/638), while the expiration period is a set to environment variable at [PR 665](https://github.com/short-d/short/pull/665).

[2020-07-30 21:40] #623 closed

[2020-07-30 22:06] byliuyang commented on #623
Stage 2 is not done yet: Ideally we should consider automatically extending the expiration date if the user visit short-d.com within a week, in order to provide a seamless user experience.

[2020-07-30 22:07] byliuyang commented on #623
Fine. I created a separate task on meistertask

[2020-07-31 19:29] Coteh opened #984 "[Feature] Add styles to Toggle component"
Continuation from #963. Add styling to `Toggle` component so it can have different colours applied to it, etc.

[2020-08-01 20:28] #863 closed

[2020-08-04 04:42] #984 closed

[2020-08-05 00:46] #959 closed

[2020-08-16 18:01] Coteh commented on #865
Hey @arberiii are the changes you made in #882 and #885 sufficient for this issue? Or should more errors be handled?

[2020-08-16 19:27] arberiii commented on #865
Hey @Coteh, thanks for the interest! The search API needs more and better error handling.

First off, errors don't have a custom type, as an example take a look at [unknown resource error](https://github.com/short-d/short/blob/master/backend/app/usecase/search/search.go#L71).

Another issue is that errors are simply logged but not handled, as in [here](https://github.com/short-d/short/blob/master/

[2020-08-16 19:36] Coteh commented on #865
I see! I'll do some research and figure out how to best handle these cases. 👍

[2020-08-20 04:23] Coteh opened #998 "[Refactor] Remaining Storybook 6 Upgrade Items"
Leftover stuff from #996.

- [ ] Consider switching `addons-knobs` to [Storybook Controls](https://medium.com/storybookjs/storybook-controls-ce82af93e430)
- [ ] Convert story items to use Storybook Args ([source](https://medium.com/storybookjs/introducing-storybook-args-2dadcdb777cc))
- [ ] Ensure everything else from Migrations guide is checked off
- [ ] Consider adding MDX documentation to stori

[2020-08-21 14:33] Coteh opened #999 "[Feature] Keyboard shortcut to submit short link"
**What is the problem?**
Just a random thought, it would be cool if, on the homepage, after entering long link and alias, you can press Ctrl + Enter (or Cmd + Enter if on Mac) to submit the short link instead of having to move your mouse to click on the submit button. This would benefit power users who want to create a short link quickly.

**Your solution**
I believe this can be done using browser

[2020-08-25 15:18] Coteh commented on #705
Should we set a session id as the cookie that can then be used to lookup the access token from a database, or should we set the auth token as the session id directly? If the latter, I think we should ensure that the auth token is encrypted to prevent attackers from accessing it.

I personally believe it would make more sense to use session id and make an AJAX request after being redirected to look

[2020-08-26 04:39] cx2c opened #1005 "grpc err"
config:  GRPC_API_PORT=8081

[Short] [Error] 2020-08-26 03:52:48 rpc error: code = Unavailable desc = connection error: desc = "transport: Error while dialing dial tcp x.x.x.x:8080: connect: connection refused"

why i set the port 8081 in .env , but it is 8080 in error log?

thanks

[2020-08-26 04:56] byliuyang commented on #1005
@cx2c Please join our slack and elaborate the issue in #short channel. This is no enough information in the issue. Thanks!

[2020-08-27 09:22] #1005 closed

[2020-08-27 22:41] Coteh opened #1007 "[Feature] Configure Spinner component"
**What is the problem?**
`Spinner` component currently just has the center circle (the sun) and the three green circles around it (earth, venus, and mercury). It would be nice if this could be customized for different use cases (e.g. for auth loading page, for other pages, etc.)

**Your solution**
Allow for customization of:
- Number of planets
- Speed of each planet
- Color of planets
- Potential